<a href="https://colab.research.google.com/github/iGhostlp/Albus/blob/Sin-Dientes/29_3_2023_Proyecto_BBVA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Armado del entorno

In [7]:
# Download Spark
!wget -q https://dlcdn.apache.org/spark/spark-3.3.2/spark-3.3.2-bin-hadoop3.tgz

In [8]:
# Unzip the file
!tar xf spark-3.3.2-bin-hadoop3.tgz

In [9]:
!readlink -f $(which java) | sed "s:bin/java::"

/usr/lib/jvm/java-11-openjdk-amd64/

In [10]:
# Set up the environment for Spark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64/"
os.environ["SPARK_HOME"] = '/content/spark-3.3.2-bin-hadoop3'

In [11]:
# Install library for finding Spark
!pip install -q findspark

# Import the libary
import findspark

# Initiate findspark
findspark.init()

In [12]:
# Import SparkSession
from pyspark.sql import SparkSession

# Create a Spark Session
spark = SparkSession.builder.master("local[*]").config('spark.sql.parquet.datetimeRebaseModeInRead','CORRECTED').getOrCreate()

# Check Spark Session Information
spark

# Extraccion de datos desde parquet, clientes y teléfonos.

In [13]:
df_customer = spark.read.parquet('/content/Datasets/customer_basics.snappy.parquet')
df_phones = spark.read.parquet('/content/Datasets/phones.snappy.parquet')

In [14]:
from pyspark.sql.functions import col
from pyspark.sql import SparkSession

In [15]:
#df_customer_phones = df_phones.join(df_customer, 'customer_id')
df_customer_phones = df_phones.join(df_customer.select(col("customer_id"), col("last_change_date").alias("l_c_d_customer")), "customer_id")

In [16]:
df_customer_phones.printSchema()

root
 |-- customer_id: string (nullable = true)
 |-- phone_use_type: string (nullable = true)
 |-- address_sequence_id: integer (nullable = true)
 |-- phone_sequence_id: integer (nullable = true)
 |-- phone_type: string (nullable = true)
 |-- phone_country_id: string (nullable = true)
 |-- prefix_phone_id: string (nullable = true)
 |-- phone_area_id: string (nullable = true)
 |-- cellphone_prefix_id: string (nullable = true)
 |-- phone_exchange_id: string (nullable = true)
 |-- phone_line_id: string (nullable = true)
 |-- phone_id: string (nullable = true)
 |-- phone_intern_id: string (nullable = true)
 |-- aditional_info_txt_desc: string (nullable = true)
 |-- primary_phone_type: string (nullable = true)
 |-- address_sequence_type: string (nullable = true)
 |-- address_town_name: string (nullable = true)
 |-- zipcode_id: string (nullable = true)
 |-- province_id: string (nullable = true)
 |-- customer_phone_status_type: string (nullable = true)
 |-- phone_status_mod_date: date (nullable = true)
 |-- contact_channel_type: string (nullable = true)
 |-- sender_application_id: string (nullable = true)
 |-- wrong_phone_type: string (nullable = true)
 |-- normalization_status_type: string (nullable = true)
 |-- normalization_reason_name: string (nullable = true)
 |-- normalization_date: date (nullable = true)
 |-- validity_start_date: date (nullable = true)
 |-- validity_end_date: date (nullable = true)
 |-- dlvy_day_monday_type: string (nullable = true)
 |-- dlvy_day_tuesday_type: string (nullable = true)
 |-- dlvy_day_wednesday_type: string (nullable = true)
 |-- dlvy_day_thursday_type: string (nullable = true)
 |-- dlvy_day_friday_type: string (nullable = true)
 |-- dlvy_day_saturday_type: string (nullable = true)
 |-- delivery_contact_start_hm_date: string (nullable = true)
 |-- delivery_contact_end_hm_date: string (nullable = true)
 |-- registry_entry_date: date (nullable = true)
 |-- register_user_id: string (nullable = true)
 |-- last_change_date: date (nullable = true)
 |-- last_change_user_id: string (nullable = true)
 |-- last_change_hms_date: string (nullable = true)
 |-- last_change_terminal_id: string (nullable = true)
 |-- operational_load_date: timestamp (nullable = true)
 |-- l_c_d_customer: date (nullable = true)

### Filtrado phones

In [17]:
import pyspark.sql.functions as F
from pyspark.sql import SparkSession
from pyspark.sql.functions import concat,col, row_number, desc, collect_list
from pyspark.sql.window import Window

In [18]:
df_phones_cut = df_customer_phones.drop('contact_channel_type','wrong_phone_type','registry_entry_date','register_user_id','last_change_user_id','l_c_d_customer','last_change_hms_date','last_change_terminal_id','phone_intern_id','phone_country_id', 'aditional_info_txt_desc', 'primary_phone_type','address_sequence_type','address_town_name','zipcode_id', 'province_id','sender_application_id','normalization_status_type','normalization_reason_name','validity_start_date','validity_end_date','dlvy_day_monday_type','dlvy_day_tuesday_type','dlvy_day_wednesday_type','dlvy_day_thursday_type','dlvy_day_friday_type','dlvy_day_friday_type','dlvy_day_saturday_type','delivery_contact_start_hm_date','delivery_contact_end_hm_date','operational_load_date','normalization_date')

In [19]:
df_phones_sorted = df_phones_cut.orderBy([df_phones_cut.customer_id, desc('last_change_date')])
df_phones_sorted.show()

+-----------+--------------+-------------------+-----------------+----------+---------------+-------------+-------------------+-----------------+-------------+-------------+--------------------------+---------------------+----------------+
|customer_id|phone_use_type|address_sequence_id|phone_sequence_id|phone_type|prefix_phone_id|phone_area_id|cellphone_prefix_id|phone_exchange_id|phone_line_id|     phone_id|customer_phone_status_type|phone_status_mod_date|last_change_date|
+-----------+--------------+-------------------+-----------------+----------+---------------+-------------+-------------------+-----------------+-------------+-------------+--------------------------+---------------------+----------------+
|   00000442|            00|                  0|                1|         3|             54|          297|                 15|              472|         9337| 384498667593|                 DECLARADO|           2022-07-20|      2022-07-20|
|   00000442|            02|                  0|                2|         3|             54|          297|                 15|              529|         6284| 712455962424|                 DECLARADO|           2022-07-20|      2022-07-20|
|   00001419|            00|                  0|                2|         3|             54|           11|                 15|             6679|         3207| 044982237001|                COMPROBADO|           2022-11-01|      2022-11-01|
|   00001939|            00|                  0|                1|         3|             54|           11|                 15|             3870|         0150| 008960137788|                COMPROBADO|           2022-09-21|      2022-09-21|
|   00002707|            01|                  0|                1|         1|             54|          299|                   |              447|         7116|   6116490163|                 DECLARADO|           2022-08-12|      2022-08-17|
|   00002790|            00|                  0|                1|         3|             54|          342|                 15|              466|         2478| 051880599267|                COMPROBADO|           2022-11-18|      2022-11-18|
|   00002790|            00|                  0|                2|         1|             54|          342|                   |              488|         3620|   4330463819|                  VALIDADO|           2022-10-08|      2022-10-08|
|   00004287|            00|                  0|                2|         3|             54|         3541|                 15|             5988|          799|1456900382957|                 DECLARADO|           2022-08-29|      2022-08-29|
|   00004724|            00|                  0|                1|         3|             54|           11|                 15|             2408|         4447| 820582605809|                COMPROBADO|           2022-11-04|      2022-11-04|
|   00007932|            00|                  0|                1|         3|             54|          385|                 15|              406|         5887| 402572158909|                 DECLARADO|           2022-09-29|      2022-09-29|
|   00011850|            00|                  0|                1|         3|             54|         3489|                 15|               49|         3578| 163848812051|                COMPROBADO|           2022-10-27|      2022-10-27|
|   00011850|            02|                  0|                2|         3|             54|           11|                 15|             2578|         1080| 790484486094|                 DECLARADO|           2022-10-24|      2022-10-24|
|   00012051|            00|                  0|                1|         3|             54|         3401|                 15|               53|         4381| 226398993225|                 DECLARADO|           2022-10-06|      2022-10-06|
|   00012611|            00|                  0|                2|         1|             54|           11|                   |             4344|         3165|   0647016054|                  VALIDADO|           2022-08-30|      2022-08-30|
|   00012611|            00|                  0|                1|         3|             54|           11|                 15|             6114|         1855| 162848642527|                COMPROBADO|           2022-08-30|      2022-08-30|
|   00013498|            02|                  0|                2|         3|             54|          221|                 15|              620|         8511| 533666791591|                 DECLARADO|           2022-08-22|      2022-08-22|
|   00014664|            00|                  0|                1|         3|             54|           11|                 15|             6505|         0605| 451978668757|                 DECLARADO|           2022-10-06|      2022-10-06|
|   00015497|            00|                  0|                1|         3|             54|           11|                 15|             5105|         2460| 975842902003|                COMPROBADO|           2022-07-28|      2022-07-28|
|   00051576|            00|                  0|                1|         3|             54|           11|                 15|             2653|         1080| 959943195039|                COMPROBADO|           2022-10-12|      2022-10-12|
|   00053993|            00|                  0|                1|         3|             54|         3718|                 15|               46|         6655| 730405560071|                COMPROBADO|           2022-08-09|      2022-08-12|
+-----------+--------------+-------------------+-----------------+----------+---------------+-------------+-------------------+-----------------+-------------+-------------+--------------------------+---------------------+----------------+
only showing top 20 rows

In [20]:
#df_phones_sorted = df_phones_sorted.select(concat(df_phones_sorted.prefix_phone_id,df_phones_sorted.phone_area_id,df_phones_sorted.phone_exchange_id,df_phones_sorted.phone_line_id).alias('Full_Phone'),'customer_id','last_change_date')

In [21]:
from pyspark.sql.functions import concat_ws

df_phones_sorted = df_phones_sorted.select(concat_ws('-', df_phones_sorted.prefix_phone_id,df_phones_sorted.phone_area_id,df_phones_sorted.phone_exchange_id,df_phones_sorted.phone_line_id).alias('Full_Phone'),'customer_id','last_change_date')

In [22]:
df_phones_sorted.show()

+----------------+-----------+----------------+
|      Full_Phone|customer_id|last_change_date|
+----------------+-----------+----------------+
| 54-297-472-9337|   00000442|      2022-07-20|
| 54-297-529-6284|   00000442|      2022-07-20|
| 54-11-6679-3207|   00001419|      2022-11-01|
| 54-11-3870-0150|   00001939|      2022-09-21|
| 54-299-447-7116|   00002707|      2022-08-17|
| 54-342-466-2478|   00002790|      2022-11-18|
| 54-342-488-3620|   00002790|      2022-10-08|
|54-3541-5988-799|   00004287|      2022-08-29|
| 54-11-2408-4447|   00004724|      2022-11-04|
| 54-385-406-5887|   00007932|      2022-09-29|
| 54-3489-49-3578|   00011850|      2022-10-27|
| 54-11-2578-1080|   00011850|      2022-10-24|
| 54-3401-53-4381|   00012051|      2022-10-06|
| 54-11-4344-3165|   00012611|      2022-08-30|
| 54-11-6114-1855|   00012611|      2022-08-30|
| 54-221-620-8511|   00013498|      2022-08-22|
| 54-11-6505-0605|   00014664|      2022-10-06|
| 54-11-5105-2460|   00015497|      2022-07-28|
| 54-11-2653-1080|   00051576|      2022-10-12|
| 54-3718-46-6655|   00053993|      2022-08-12|
+----------------+-----------+----------------+
only showing top 20 rows

In [23]:
window = Window.partitionBy(df_phones_sorted.customer_id).orderBy(desc(df_phones_sorted.last_change_date))

In [24]:
df_phone = df_phones_sorted.withColumn('row_num', row_number().over(window))

In [25]:
df_phone = df_phone.filter(df_phone.row_num <= 3)

In [26]:
df_phone.show()

+----------------+-----------+----------------+-------+
|      Full_Phone|customer_id|last_change_date|row_num|
+----------------+-----------+----------------+-------+
| 54-297-472-9337|   00000442|      2022-07-20|      1|
| 54-297-529-6284|   00000442|      2022-07-20|      2|
| 54-11-6679-3207|   00001419|      2022-11-01|      1|
| 54-11-3870-0150|   00001939|      2022-09-21|      1|
| 54-299-447-7116|   00002707|      2022-08-17|      1|
| 54-342-466-2478|   00002790|      2022-11-18|      1|
| 54-342-488-3620|   00002790|      2022-10-08|      2|
|54-3541-5988-799|   00004287|      2022-08-29|      1|
| 54-11-2408-4447|   00004724|      2022-11-04|      1|
| 54-385-406-5887|   00007932|      2022-09-29|      1|
| 54-3489-49-3578|   00011850|      2022-10-27|      1|
| 54-11-2578-1080|   00011850|      2022-10-24|      2|
| 54-3401-53-4381|   00012051|      2022-10-06|      1|
| 54-11-6114-1855|   00012611|      2022-08-30|      1|
| 54-11-4344-3165|   00012611|      2022-08-30|      2|
| 54-221-620-8511|   00013498|      2022-08-22|      1|
| 54-11-6505-0605|   00014664|      2022-10-06|      1|
| 54-11-5105-2460|   00015497|      2022-07-28|      1|
| 54-11-2653-1080|   00051576|      2022-10-12|      1|
| 54-3718-46-6655|   00053993|      2022-08-12|      1|
+----------------+-----------+----------------+-------+
only showing top 20 rows

In [27]:
df_pivot_phone = df_phone.groupBy('customer_id').agg(collect_list('Full_Phone').alias('last_3_changes_list'))

In [28]:
df_pivot_phone = df_pivot_phone.selectExpr('customer_id', 'last_3_changes_list[0] as Phone_1', 'last_3_changes_list[1] as Phone_2', 'last_3_changes_list[2] as Phone_3')

In [29]:
df_pivot_phone.show()

+-----------+----------------+---------------+-------+
|customer_id|         Phone_1|        Phone_2|Phone_3|
+-----------+----------------+---------------+-------+
|   00000442| 54-297-472-9337|54-297-529-6284|   null|
|   00001419| 54-11-6679-3207|           null|   null|
|   00001939| 54-11-3870-0150|           null|   null|
|   00002707| 54-299-447-7116|           null|   null|
|   00002790| 54-342-466-2478|54-342-488-3620|   null|
|   00004287|54-3541-5988-799|           null|   null|
|   00004724| 54-11-2408-4447|           null|   null|
|   00007932| 54-385-406-5887|           null|   null|
|   00011850| 54-3489-49-3578|54-11-2578-1080|   null|
|   00012051| 54-3401-53-4381|           null|   null|
|   00012611| 54-11-6114-1855|54-11-4344-3165|   null|
|   00013498| 54-221-620-8511|           null|   null|
|   00014664| 54-11-6505-0605|           null|   null|
|   00015497| 54-11-5105-2460|           null|   null|
|   00051576| 54-11-2653-1080|           null|   null|
|   00053993| 54-3718-46-6655|           null|   null|
|   00056407| 54-336-457-7255|           null|   null|
|   00056947| 54-297-457-7276|54-297-430-1718|   null|
|   00058519| 54-341-274-0967|           null|   null|
|   00058801| 54-11-3663-8083|           null|   null|
+-----------+----------------+---------------+-------+
only showing top 20 rows

In [30]:
# preparar para json

In [31]:
df_phones_json = df_phones.select('customer_id','Phone_type','prefix_phone_id','phone_area_id','phone_exchange_id','phone_line_id')
#df_phones_json = df_phones.select('Phone_type','prefix_phone_id','phone_area_id','phone_exchange_id','phone_line_id')

In [32]:
df_phones_json.printSchema()

root
 |-- customer_id: string (nullable = true)
 |-- Phone_type: string (nullable = true)
 |-- prefix_phone_id: string (nullable = true)
 |-- phone_area_id: string (nullable = true)
 |-- phone_exchange_id: string (nullable = true)
 |-- phone_line_id: string (nullable = true)

In [33]:
from pyspark.sql.functions import to_json

In [34]:
df_json_concat = df_phones_json.select(concat_ws("-", df_phones_json.Phone_type, df_phones_json.prefix_phone_id, df_phones_json.phone_area_id, df_phones_json.phone_exchange_id, df_phones_json.phone_line_id).alias('Full_Phone_json'))
#df_phones_sorted = df_phones_sorted.select(concat_ws('-', df_phones_sorted.prefix_phone_id,df_phones_sorted.phone_area_id,df_phones_sorted.phone_exchange_id,df_phones_sorted.phone_line_id).alias('Full_Phone'),'customer_id','last_change_date')

In [35]:
df_json_concat.show()

+-------------------+
|    Full_Phone_json|
+-------------------+
|  3-54-385-618-8929|
|  3-54-11-2550-6187|
|  1-54-341-454-3113|
|  3-54-11-3017-9680|
|  3-54-11-4439-4790|
|  3-54-11-4439-4790|
|  3-54-388-514-3040|
|  3-54-3444-52-3887|
|  1-54-2317-43-4879|
|  3-54-11-5529-1962|
|  3-54-351-256-0268|
|  3-54-11-5579-2407|
|  3-54-11-4030-8325|
|  3-54-11-2288-8738|
|3-54-0011-6761-8843|
|  3-54-342-479-9696|
|  3-54-3564-33-7284|
|  3-54-3564-33-3190|
|  3-54-221-692-9792|
|  1-54-221-425-9227|
+-------------------+
only showing top 20 rows

#Tabla filtrada de phones

In [36]:
df_pivot_phone = df_pivot_phone.na.fill('---')
df_pivot_phone.show()

+-----------+----------------+---------------+-------+
|customer_id|         Phone_1|        Phone_2|Phone_3|
+-----------+----------------+---------------+-------+
|   00000442| 54-297-472-9337|54-297-529-6284|    ---|
|   00001419| 54-11-6679-3207|            ---|    ---|
|   00001939| 54-11-3870-0150|            ---|    ---|
|   00002707| 54-299-447-7116|            ---|    ---|
|   00002790| 54-342-466-2478|54-342-488-3620|    ---|
|   00004287|54-3541-5988-799|            ---|    ---|
|   00004724| 54-11-2408-4447|            ---|    ---|
|   00007932| 54-385-406-5887|            ---|    ---|
|   00011850| 54-3489-49-3578|54-11-2578-1080|    ---|
|   00012051| 54-3401-53-4381|            ---|    ---|
|   00012611| 54-11-6114-1855|54-11-4344-3165|    ---|
|   00013498| 54-221-620-8511|            ---|    ---|
|   00014664| 54-11-6505-0605|            ---|    ---|
|   00015497| 54-11-5105-2460|            ---|    ---|
|   00051576| 54-11-2653-1080|            ---|    ---|
|   00053993| 54-3718-46-6655|            ---|    ---|
|   00056407| 54-336-457-7255|            ---|    ---|
|   00056947| 54-297-457-7276|54-297-430-1718|    ---|
|   00058519| 54-341-274-0967|            ---|    ---|
|   00058801| 54-11-3663-8083|            ---|    ---|
+-----------+----------------+---------------+-------+
only showing top 20 rows

## Extraccion de datos desde parquet, clientes y emails.

In [37]:
df_emails = spark.read.parquet('/content/Datasets/emails.snappy.parquet')

In [38]:
sorted(df_emails.columns)

['address_sequence_id',
 'comments_desc',
 'customer_email_status_date',
 'customer_email_status_type',
 'customer_id',
 'email_app_type',
 'email_desc',
 'email_domain_type',
 'email_type',
 'encripted_type',
 'field_length_number',
 'last_change_date',
 'last_change_hms_date',
 'last_change_terminal_id',
 'last_change_user_id',
 'operational_load_date',
 'primary_email_type',
 'register_user_id',
 'registry_entry_date',
 'residence_type',
 'role_type']

In [39]:
#df_customer_emails = df_emails.join(df_customer, 'customer_id', how="right")
df_customer_emails = df_customer.join(df_emails.select(col("customer_id"),col("email_desc"), col("last_change_date").alias("last_change_date_e")), "customer_id")

In [40]:
sorted(df_customer_emails.columns)

['admission_date',
 'balance_closing_date',
 'bbva_cust_number',
 'bbva_family_lnk_weighted_number',
 'bbva_inhabilitation_type',
 'birth_date',
 'branch_id',
 'business_area_id',
 'campaing_id',
 'coholder_customer_id',
 'country_nationality_id',
 'credit_manager_id',
 'credit_recovery_manager_id',
 'cust_bcra_econ_activity_type',
 'customer_bcra_situation_id',
 'customer_block_bbva_date',
 'customer_block_bcra_date',
 'customer_condition_type',
 'customer_cuit_id',
 'customer_end_date',
 'customer_entry_type',
 'customer_first_block_date',
 'customer_id',
 'customer_level_access_type',
 'customer_linked_type',
 'customer_pending_notice_type',
 'customer_pep_type',
 'customer_position_vat_type',
 'customer_registration_date',
 'customer_seniority_number',
 'customer_situation_type',
 'customer_status_type',
 'customer_subject_type',
 'customer_type',
 'customer_unblock_bbva_date',
 'customer_unblock_bcra_date',
 'email_desc',
 'first_name',
 'gender_type',
 'internal_economic_activity_type',
 'job_type',
 'last_address_number',
 'last_change_date',
 'last_change_date_e',
 'last_change_hms_date',
 'last_change_user_id',
 'last_name',
 'last_notice_number',
 'last_reference_number_id',
 'last_service_number',
 'last_status_change_date',
 'last_unlinking_account_date',
 'manager_id',
 'marital_status_type',
 'operation_channel_id',
 'operational_load_date',
 'personal_id',
 'personal_type',
 'profession_id',
 'profession_start_date',
 'refinancing_date',
 'refinancing_number',
 'register_terminal_id',
 'register_user_id',
 'residence_country_id',
 'sale_channel_id',
 'scoring_activity_type',
 'second_last_name',
 'sector_type',
 'tracking_manager_id']

### Filtrado emails

In [41]:
#df_emails_cut = df_customer_emails.drop('role_type', 'email_type','address_sequence_id','residence_type','primary_email_type','email_domain_type','encripted_type','field_length_number','comments_desc','customer_email_status_type','email_app_type','register_user_id','last_change_user_id','last_change_hms_date','last_change_terminal_id','operational_load_date','customer_email_status_date','registry_entry_date')
df_emails_cut = df_customer_emails.select('customer_id','email_desc','last_change_date_e')

In [42]:
df_emails_sorted = df_emails_cut.orderBy([df_emails_cut.customer_id, desc('last_change_date_e')])

df_emails_sorted.toPandas()

    customer_id                   email_desc last_change_date_e
0      00001419           JU_LY1@HOTMAIL.COM         2019-05-11
1      00001419  EMILIA.RUBIANES@HOTMAIL.COM         2015-10-08
2      00002790          NOTIENE@HOIMAIL.COM         2019-07-29
3      00002790      DIGITALIZACION@EECC.COM         1900-01-01
4      00014664            alq@ciudad.com.ar         2009-06-27
..          ...                          ...                ...
369    28990339             ELSAMO@GMAIL.COM         2019-11-08
370    28993945       navyig@fibertel.com.ar         2009-06-27
371    29003190         ANLAU_08@LIVE.COM.AR         2020-06-01
372    29008648        ROBERTOWINY@GMAIL.COM         2013-01-23
373    29012113     DE_LA_GARMA@YAHOO.COM.AR         2013-05-28

[374 rows x 3 columns]

In [43]:
window = Window.partitionBy(df_emails_sorted.customer_id).orderBy(desc(df_emails_sorted.last_change_date_e))

In [44]:
df_email = df_emails_sorted.withColumn('row_num', row_number().over(window))

In [45]:
df_email = df_email.filter(df_email.row_num <= 3)

In [46]:
df_email.toPandas()

    customer_id                   email_desc last_change_date_e  row_num
0      00001419           JU_LY1@HOTMAIL.COM         2019-05-11        1
1      00001419  EMILIA.RUBIANES@HOTMAIL.COM         2015-10-08        2
2      00002790          NOTIENE@HOIMAIL.COM         2019-07-29        1
3      00002790      DIGITALIZACION@EECC.COM         1900-01-01        2
4      00014664            alq@ciudad.com.ar         2009-06-27        1
..          ...                          ...                ...      ...
369    28990339             ELSAMO@GMAIL.COM         2019-11-08        1
370    28993945       navyig@fibertel.com.ar         2009-06-27        1
371    29003190         ANLAU_08@LIVE.COM.AR         2020-06-01        1
372    29008648        ROBERTOWINY@GMAIL.COM         2013-01-23        1
373    29012113     DE_LA_GARMA@YAHOO.COM.AR         2013-05-28        1

[374 rows x 4 columns]

In [47]:
df_pivot_email = df_email.groupBy('customer_id').agg(collect_list('email_desc').alias('last_3_changes_list'))

In [48]:
df_pivot_email = df_pivot_email.selectExpr('customer_id', 'last_3_changes_list[0] as Email_1', 'last_3_changes_list[1] as Email_2', 'last_3_changes_list[2] as Email_3')

In [49]:
df_pivot_email.toPandas()

,customer_id,Email_1,Email_2,Email_3
0,00001419,JU_LY1@HOTMAIL.COM,EMILIA.RUBIANES@HOTMAIL.COM,None
1,00002790,NOTIENE@HOIMAIL.COM,DIGITALIZACION@EECC.COM,None
2,00014664,alq@ciudad.com.ar,None,None
3,00056407,NELLY.S.GEREZ@GMAIL.COM,None,None
4,00058801,SOPLETESHLANDA@HOTMAIL.COM,SOPLETESHLANDA@HOTMAIL.COM,None
...,...,...,...,...
317,28990339,ELSAMO@GMAIL.COM,None,None
318,28993945,navyig@fibertel.com.ar,None,None
319,29003190,ANLAU_08@LIVE.COM.AR,None,None
320,29008648,ROBERTOWINY@GMAIL.COM,None,None
321,29012113,DE_LA_GARMA@YAHOO.COM.AR,None,None

In [50]:
df_pivot_email = df_pivot_email.na.fill('---')
df_pivot_email.toPandas()

,customer_id,Email_1,Email_2,Email_3
0,00001419,JU_LY1@HOTMAIL.COM,EMILIA.RUBIANES@HOTMAIL.COM,---
1,00002790,NOTIENE@HOIMAIL.COM,DIGITALIZACION@EECC.COM,---
2,00014664,alq@ciudad.com.ar,---,---
3,00056407,NELLY.S.GEREZ@GMAIL.COM,---,---
4,00058801,SOPLETESHLANDA@HOTMAIL.COM,SOPLETESHLANDA@HOTMAIL.COM,---
...,...,...,...,...
317,28990339,ELSAMO@GMAIL.COM,---,---
318,28993945,navyig@fibertel.com.ar,---,---
319,29003190,ANLAU_08@LIVE.COM.AR,---,---
320,29008648,ROBERTOWINY@GMAIL.COM,---,---
321,29012113,DE_LA_GARMA@YAHOO.COM.AR,---,---

## Extraccion de datos desde .parquet, clientes y direcciones.

In [51]:
df_address = spark.read.parquet('/content/Datasets/address.snappy.parquet')

In [52]:
sorted(df_address.columns)

['address_country_id',
 'address_department_name',
 'address_district_name',
 'address_indoor_id',
 'address_outdoor_id',
 'address_priority_number',
 'address_relationship_type',
 'address_sequence_id',
 'address_start_date',
 'address_status_mod_date',
 'address_town_name',
 'address_verified_date',
 'address_without_number_type',
 'contact_channel_type',
 'customer_id',
 'customer_locator_verified_type',
 'delivery_contact_end_hm_date',
 'delivery_contact_start_hm_date',
 'dlvy_day_friday_type',
 'dlvy_day_monday_type',
 'dlvy_day_saturday_type',
 'dlvy_day_thursday_type',
 'dlvy_day_tuesday_type',
 'dlvy_day_wednesday_type',
 'indoor_number',
 'last_change_date',
 'last_change_hms_date',
 'last_change_terminal_id',
 'last_change_user_id',
 'long_zipcode_id',
 'normalization_date',
 'normalization_reason_name',
 'normalization_status_type',
 'normalized_level_match_number',
 'operational_load_date',
 'other_information_desc',
 'prev_address_sequence_id',
 'province_id',
 'register_user_id',
 'registration_type',
 'registry_entry_date',
 'residence_type',
 'returned_mail_type',
 'sender_application_id',
 'street_name',
 'zipcode_id']

In [53]:
df_address.show()

+-----------+-----------------------+-------------------+--------------+--------------------+------------------+---------------------------+-----------------+-------------+---------------------+--------------------+-----------------------+----------+---------------+-----------+------------------+----------------------+-------------------------+------------------+---------------------+------------------------------+-----------------------+--------------------+---------------------+------------------+-------------------------+-------------------------+------------------+-----------------------------+--------------------+---------------------+-----------------------+----------------------+--------------------+----------------------+------------------------------+----------------------------+------------------------+-------------------+----------------+----------------+-------------------+--------------------+-----------------------+-----------------+---------------------+
|customer_id|address_priority_number|address_sequence_id|residence_type|         street_name|address_outdoor_id|address_without_number_type|address_indoor_id|indoor_number|address_district_name|   address_town_name|address_department_name|zipcode_id|long_zipcode_id|province_id|address_country_id|other_information_desc|address_relationship_type|address_start_date|address_verified_date|customer_locator_verified_type|address_status_mod_date|contact_channel_type|sender_application_id|returned_mail_type|normalization_status_type|normalization_reason_name|normalization_date|normalized_level_match_number|dlvy_day_monday_type|dlvy_day_tuesday_type|dlvy_day_wednesday_type|dlvy_day_thursday_type|dlvy_day_friday_type|dlvy_day_saturday_type|delivery_contact_start_hm_date|delivery_contact_end_hm_date|prev_address_sequence_id|registry_entry_date|register_user_id|last_change_date|last_change_user_id|last_change_hms_date|last_change_terminal_id|registration_type|operational_load_date|
+-----------+-----------------------+-------------------+--------------+--------------------+------------------+---------------------------+-----------------+-------------+---------------------+--------------------+-----------------------+----------+---------------+-----------+------------------+----------------------+-------------------------+------------------+---------------------+------------------------------+-----------------------+--------------------+---------------------+------------------+-------------------------+-------------------------+------------------+-----------------------------+--------------------+---------------------+-----------------------+----------------------+--------------------+----------------------+------------------------------+----------------------------+------------------------+-------------------+----------------+----------------+-------------------+--------------------+-----------------------+-----------------+---------------------+
|   00000660|                      1|                  0|            06|PASCUALA DEL JUNC...|           0000850|                          N|                 |             |                  ...|VIRREYES         ...|   112233114455     ...|     01646|               |         02|               080|                   ...|                        0|              null|                 null|                    NO VERIF  |             2008-07-16|                  00|                 CTES|                 1|               NORM USU  |               NEAI      |        2008-07-16|                         0.00|                    |                     |                       |                      |                    |                      |                          0000|                        0000|                       0|         2008-07-16|        PCLE510 |      2011-07-01|           PCLE05T |              144535|                   B   |                -| 2022-01-13 21:32:...|
|   07121078|                      1|                  0|            06|SAN NICOLAS      ...|           0002478|                          N|                 |             |                  ...|VILLA VATTEONE   ...|   FLORENCIO VARELA ...|     01888|       B1853AMP|         02|               080|                   ...|                        0|              null|                 null|                    NO VERIF  |             2008-07-16|                  00|                 CTES|                 1|               NORM AUTO |               CO        |        2008-07-16|                         0.00|                    |                     |                       |                      |                    |                      |                          0000|                        0000|                       0|         2008-07-16|        PCLE510 |      2016-09-29|           PCLE05T |              145753|                   D265|                -| 2022-01-13 21:32:...|
|   22374047|                      1|                  0|            06|J DE LA CRUZ CONT...|           0000408|                          N|                 |             |                  ...|FLORENCIO VARELA ...|   FLORENCIO VARELA ...|     01888|       B1888IIJ|         02|               080|                   ...|                        0|              null|                 null|                    NO VERIF  |             2008-07-16|                  00|                 CTES|                 1|               NORM AUTO |               CO        |        2008-07-16|                         0.00|                    |                     |                       |                      |                    |                      |                          0000|                        0000|                       0|         2008-07-16|        PCLE510 |      2011-07-01|           PCLE05T |              144535|                   B   |                -| 2022-01-13 21:32:...|
|   00002450|                      1|                  0|            06|BACACAY          ...|           0001466|                          N|                 |             |                  ...|ITUZAINGO        ...|   ITUZAINGO        ...|     01714|       B1714ERV|         02|               080|                   ...|                        0|              null|                 null|                    NO VERIF  |             2009-01-26|                  00|                 CTES|                 0|               NORM AUTO |               CO        |        2009-01-26|                         0.00|                    |                     |                       |                      |                    |                      |                          0000|                        0000|                       0|         2009-01-26|        PCLE510 |      2009-01-26|           PCLE510 |              134000|                   B   |                -| 2022-01-13 21:32:...|
|   00003925|                      1|                  0|            06|MANUELA PEDRAZA  ...|           0001715|                          N|         5       |      B      |                  ...|CIUDAD AUTONOMA B...|   CAPITAL FEDERAL  ...|     01429|       C1429CBE|         01|               080|                   ...|                        0|              null|                 null|                    NO VERIF  |             2009-01-26|                  00|                 CTES|                 0|               NORM AUTO |               CO        |        2009-01-26|                         0.00|                    |                     |                       |                      |                    |                      |                          0000|                        0000|                       0|         2009-01-26|        PCLE07Q |      2009-01-26|           PCLE07Q |              155342|                   BAT |                -| 2022-01-13 21:32:...|
|   00004038|                      1|                  0|            06|BELGRANO         ...|           0001445|                          N|                 |             |                  ...|QUILMES          ...|   QUILMES          ...|     01878|       B1878GLC|         02|               080|                   ...|                        0|              null|                 null|                    NO VERIF  |             2009-01-26|                  00|                 CTES|                 0|               NORM AUTO |               CO        |        2009-01-26|                         0.00|                    |                     |                       |                      |                    |                      |                          0000|                        0000|                       0|         2009-01-26|        PCLE07Q |      2009-01-26|           PCLE07Q |              155342|                   BAT |                -| 2022-01-13 21:32:...|
|   01188067|                      1|                  0|            06|VENTURA BOSCH    ...|           0006320|                          N|                 |             |                  ...|CIUDAD AUTONOMA B...|   CAPITAL FEDERAL  ...|     01408|       C1408ECB|         01|               080|                   ...|                        0|              null|                 null|                    NO VERIF  |             2009-01-26|                  00|                 CTES|                 0|               NORM AUTO |               CO        |        2009-01-26|                         0.00|                    |                     |                       |                      |                    |                      |                          0000|                        0000|                       0|         2009-01-26|        PCLE07Q |      2009-01-26|           PCLE07Q |              155342|                   BAT |                -| 2022-01-13 21:32:...|
|   00006509|                      1|                  0|            06|CHILE            ...|           0000672|                          N|         4       |      16     |                  ...|CIUDAD AUTONOMA B...|   CAPITAL FEDERAL  ...|     01098|       C1098AAN|         01|               080|                   ...|                        0|              null|                 null|                    NO VERIF  |             2009-01-26|                  00|                 CTES|                 0|               NORM AUTO |               CO        |        2009-01-26|                         0.00|                    |                     |                       |                      |                    |                      |                          0000|                        0000|                       0|         2009-01-26|        PCLE07Q |      2009-01-26|           PCLE07Q |              155342|                   BAT |                -| 2022-01-13 21:32:...|
|   00006754|                      1|                  0|            06|CHASSAING        ...|           0004377|                          N|                 |             |                  ...|GREGORIO DE LAFER...|   LA MATANZA       ...|     01757|       B1757LIO|         02|               080|                   ...|                        0|              null|                 null|                    NO VERIF  |             2009-01-26|                  00|                 CTES|                 0|               NORM AUTO |               CO        |        2009-01-26|                         0.00|                    |                     |                       |                      |                    |                      |                          0000|                        0000|                       0|         2009-01-26|        PCLE07Q |      2009-01-26|           PCLE07Q |              155342|                   BAT |                -| 2022-01-13 21:32:...|
|   00009582|                      1|                  0|            06|J DE GARAY       ...|           0004818|                          N|                 |             |                  ...|CASEROS          ...|   TRES DE FEBRERO  ...|     01678|       B1678BJV|         02|               080|                   ...|                        0|              null|                 null|                    NO VERIF  |             2009-01-26|                  00|                 CTES|                 0|               NORM AUTO |               CO        |        2009-01-26|                         0.00|                    |                     |                       |                      |                    |                      |                          0000|                        0000|                       0|         2009-01-26|        PCLE07Q |      2009-01-26|           PCLE07Q |              155342|                   BAT |                -| 2022-01-13 21:32:...|
|   26761763|                      1|                  0|            06|PICO             ...|           0003366|                          N|         1       |             |                  ...|CIUDAD AUTONOMA B...|   CAPITAL FEDERAL  ...|     01429|       C1429EGH|         01|               080|                   ...|                        0|              null|                 null|                    NO VERIF  |             2009-01-26|                  00|                 CTES|                 0|               NORM AUTO |               CO        |        2009-01-26|                         0.00|                    |                     |                       |                      |                    |                      |                          0000|                        0000|                       0|         2009-01-26|        PCLE07Q |      2009-01-26|           PCLE07Q |              155342|                   BAT |                -| 2022-01-13 21:32:...|
|   00012730|                      1|                  0|            06|DR SALVADOR MAZZA...|           0003170|                          N|                 |             |                  ...|QUILMES OESTE    ...|   QUILMES          ...|     01879|       B1879CMB|         02|               080|                   ...|                        0|              null|                 null|                    NO VERIF  |             2009-01-26|                  00|                 CTES|                 0|               NORM AUTO |               CO        |        2009-01-26|                         0.00|                    |                     |                       |                      |                    |                      |                          0000|                        0000|                       0|         2009-01-26|        PCLE07Q |      2009-01-26|           PCLE07Q |              155342|                   BAT |                -| 2022-01-13 21:32:...|
|   23483616|                      1|                  0|            06|NICOLAS MEDINA   ...|           0000667|                          N|                 |             |                  ...|CIUDAD AUTONOMA B...|   CAPITAL FEDERAL  ...|     01407|       C1407JEM|         01|               080|                   ...|                        0|              null|                 null|                    NO VERIF  |             2009-01-26|                  00|                 CTES|                 0|               NORM AUTO |               CO        |        2009-01-26|                         0.00|                    |                     |                       |                      |                    |                      |                          0000|                        0000|                       0|         2009-01-26|        PCLE07Q |      2009-01-26|           PCLE07Q |              155342|                   BAT |                -| 2022-01-13 21:32:...|
|   00051576|                      1|                  0|            06|ING GUILLERMO MAR...|           0003215|                          N|                 |             |                  ...|BECCAR           ...|   SAN ISIDRO       ...|     01643|       B1643FFQ|         02|               080|                   ...|                        0|              null|                 null|                    NO VERIF  |             2009-01-26|                  00|                 CTES|                 0|               NORM AUTO |               CO        |        2009-01-26|                         0.00|                    |                     |                       |                      |                    |                      |                          0000|                        0000|                       0|         2009-01-26|        PCLE07Q |      2009-01-26|           PCLE07Q |              155342|                   BAT |                -| 2022-01-13 21:32:...|
|   00016049|                      4|                  0|            10|*****************...|           0000000|                          S|                 |             |                  ...|*****************...|   112233114455     ...|     00000|               |         00|               080|                   ...|                        0|              null|                 null|                    NO VERIF  |             2007-12-21|                  00|                 VLCO|                 0|               NO NORM   |                         |              null|                         0.00|                    |                     |                       |                      |                    |                      |                          0000|                        0000|                       0|         1996-11-30|                |      1996-11-30|           CONV    |              173959|                   FUSI|                -| 2022-01-13 21:32:...|
|   00016995|                      1|                  0|            06|AGUERO           ...|           0000777|                          N|         2       |      7      |                  ...|CIUDAD AUTONOMA B...|   CAPITAL FEDERAL  ...|     01171|       C1171ABK|         01|               080|                   ...|                        0|              null|                 null|                    NO VERIF  |             2009-01-26|                  00|                 CTES|                 0|               NORM AUTO |               CO        |        2009-01-26|                         0.00|                    |                     |                       |                      |                    |                      |                          0000|                        0000|                       0|         2009-01-26|        PCLE07Q |      2009-01-26|           PCLE07Q |              155342|                   BAT |                -| 2022-01-13 21:32:...|
|   26074313|                      1|                  0|            06|GRAL M DE AZCUENA...|           0000396|                          N|         2       |      A      |                  ...|CIUDAD AUTONOMA B...|   CAPITAL FEDERAL  ...|     01029|       C1029AAH|         01|               080|                   ...|                        0|              null|                 null|                    NO VERIF  |             2009-01-26|                  00|                 CTES|                 0|               NORM AUTO |               CO        |        2009-01-26|                         0.00|                    |                     |                       |                      |                    |                      |                          0000|                        0000|                       0|         2009-01-26|        PCLE07Q |      2009-01-26|           PCLE07Q |              155342|                   BAT |                -| 2022-01-13 21:32:...|

In [54]:
df_customer.show()

+-----------+-------------+-------------+--------------+---------------+--------------------+---------+----------------+-----------+-----------------------+-----------------------+----------+-------------------+-----------------+--------------------------+------------+----------------+-------------------+-------------------+-----------+----------+----------------------+--------------------+---------------------+-----------+--------------------------+----------------------------+-------------------------------+------------------------+------------------------+--------------------------+------------------------+--------------------------+----------------------------+------------------+------------------------+-------------------+-------------------+---------------------------+-----------------+-------------------+-----------------+-------------------------------+--------------------+---------------------+------------------+----------------+--------------------+--------------------------+----------------+--------------------------+--------------------+-------------+----------------+--------------------+-------------------+--------+---------------------+-------------------------+--------------------------+----------------+--------------------+--------------------+----------------+-------------+-------------------------+-----------------------+---------------------+
|customer_id|personal_type|  personal_id|admission_date|sale_channel_id|operation_channel_id|branch_id|business_area_id|campaing_id|customer_situation_type|customer_condition_type|manager_id|tracking_manager_id|credit_manager_id|credit_recovery_manager_id|   last_name|second_last_name|         first_name|marital_status_type|gender_type|birth_date|country_nationality_id|residence_country_id|customer_subject_type|sector_type|customer_level_access_type|cust_bcra_econ_activity_type|internal_economic_activity_type|bbva_inhabilitation_type|customer_block_bbva_date|customer_unblock_bbva_date|customer_block_bcra_date|customer_unblock_bcra_date|customer_pending_notice_type|last_notice_number|last_reference_number_id|last_service_number|last_address_number|last_unlinking_account_date|customer_end_date|last_change_user_id|customer_pep_type|bbva_family_lnk_weighted_number|customer_status_type|scoring_activity_type|refinancing_number|refinancing_date|coholder_customer_id|customer_bcra_situation_id|customer_cuit_id|customer_position_vat_type|balance_closing_date|profession_id|bbva_cust_number|customer_linked_type|customer_entry_type|job_type|profession_start_date|customer_first_block_date|customer_registration_date|last_change_date|last_change_hms_date|register_terminal_id|register_user_id|customer_type|customer_seniority_number|last_status_change_date|operational_load_date|
+-----------+-------------+-------------+--------------+---------------+--------------------+---------+----------------+-----------+-----------------------+-----------------------+----------+-------------------+-----------------+--------------------------+------------+----------------+-------------------+-------------------+-----------+----------+----------------------+--------------------+---------------------+-----------+--------------------------+----------------------------+-------------------------------+------------------------+------------------------+--------------------------+------------------------+--------------------------+----------------------------+------------------+------------------------+-------------------+-------------------+---------------------------+-----------------+-------------------+-----------------+-------------------------------+--------------------+---------------------+------------------+----------------+--------------------+--------------------------+----------------+--------------------------+--------------------+-------------+----------------+--------------------+-------------------+--------+---------------------+-------------------------+--------------------------+----------------+--------------------+--------------------+----------------+-------------+-------------------------+-----------------------+---------------------+
|   07867437|           00|0000022367134|    2007-07-10|          10000|                    |      143|              34|          0|                      1|                      1|       489|                   |                 |                          |      KATTAN|                |    ALBERTO GERARDO|                  1|          M|1971-08-10|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                           0|                 0|                       0|                  0|                  1|                       null|             null|            PCLE06R|                0|                              1|                  PO|                   47|              null|            null|                    |                      null|   0023223671349|                       042|                null|          016|       007867437|                   N|                   |     001|           2009-01-01|                     null|                2007-07-10|      2008-05-02|              181547|                P37B|          VUELCO|            S|                     null|                   null| 2022-03-10 01:05:...|
|   06813266|           00|0000013343738|    2006-02-22|          10000|                    |      418|              34|          0|                      1|                      1|       139|                   |                 |                          |     FERRERO|                |       ISIDRO ROQUE|                  1|          M|1959-02-06|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                            |                 0|                       0|                  0|                  1|                       null|             null|            PCLE02P|                0|                              1|                  CA|                   47|              null|            null|                    |                      null|   0020133437380|                       043|                null|          016|       006813266|                   N|                   |     001|           2009-01-01|                     null|                2006-02-22|      2008-11-10|              145508|                P37B|          VUELCO|            S|                     null|                   null| 2022-03-10 01:05:...|
|   29604216|           00|0000020589841|    2001-08-17|          10000|                  01|      199|              30|          0|                      1|                      1|       661|                   |                 |                          |      TOLOZA|                |       MIGUEL ANGEL|                  5|          M|1969-11-03|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                            |                 0|                       0|                  0|                  3|                       null|             null|            PCLE825|                2|                              1|                  AC|                   18|              null|            null|                    |                        21|   0020205898418|                       042|                null|          013|       005564899|                   N|                   |     001|           2016-12-26|                     null|                2001-08-17|      2022-02-21|              125716|                   B|          VUELCO|            N|                     null|             2016-12-26| 2022-03-10 01:05:...|
|   28028529|           00|0000039730521|    2021-08-24|          10000|                  01|      995|              34|          0|                      1|                      8|      2603|                   |             PVTA|                          |      ZURITA|                |             CARLOS|                  5|          M|1996-04-27|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                           0|                 0|                       0|                  0|                  0|                       null|             null|            PCLE06R|                1|                              1|                  PO|                    4|              null|            null|                    |                      null|   0000000000000|                       042|                null|          016|       028028529|                   N|                 MD|     001|           2021-08-24|                     null|                2021-08-24|      2021-08-24|              172924|                P37B|        VW2CEVA0|            S|                     null|                   null| 2022-03-10 01:05:...|
|   28366580|           00|0000039786049|    2022-01-11|          10000|                  00|       82|              34|          0|                      1|                      1|       234|                080|                 |                          |    BEATRICE|                |   SEBASTIAN DANIEL|                  5|          M|1996-08-03|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                           0|                 2|                       0|                  0|                  2|                       null|             null|            PCLE06R|                2|                              2|                  AC|                   47|              null|            null|                    |                      null|   0020397860494|                       042|                null|          016|       028366580|                   N|                   |     001|           2022-01-20|                     null|                2022-01-11|      2022-01-25|              204956|                BATC|         PCLE510|            N|                     null|                   null| 2022-03-10 01:05:...|
|   02746969|           00|0000025684535|    2010-10-21|          10000|                  00|       74|              34|          0|                      1|                      1|       192|                   |                 |                          |        RUIZ|                |RUIZ MIRIAM LILIANA|                  1|          F|1977-01-01|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                           0|                 0|                       0|                  0|                  1|                       null|             null|            PCLE06R|                1|                              1|                  PO|                   47|              null|            null|                    |                      null|   0027256845356|                       042|                null|          016|       002746969|                   N|                   |     001|           2010-10-21|                     null|                2010-10-21|      2010-10-21|              162741|                P37B|          VUELCO|            S|                     null|                   null| 2022-03-10 01:05:...|
|   23441482|           00|0000038990587|    2016-12-22|          10000|                  00|      302|              34|          0|                      1|                      1|       591|                   |                 |                          |      ACOSTA|                |      FRANCO LEONEL|                  5|          M|1995-09-10|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                            |                 0|                       0|                  0|                  2|                       null|             null|            PCLE06R|                2|                              1|                  CA|                   47|              null|            null|                    |                      null|   0023389905879|                       042|                null|          007|       023441482|                   N|                   |     001|           2017-01-04|                     null|                2016-12-22|      2017-01-04|              035408|                P37B|         PCLE510|            S|                     null|             2017-01-04| 2022-03-10 01:05:...|
|   23610540|           00|0000021823184|    2004-05-04|          10000|                  01|      130|              34|          0|                      1|                      1|       452|                   |                 |                          |   BALMACEDA|                |        MARIA ESTER|                  5|          F|1971-01-31|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                            |                 0|                       0|                  0|                  1|                       null|             null|            PCLE06R|                0|                              1|                  PO|                   50|              null|            null|                    |                      null|   0027218231840|                       042|                null|          034|       006341634|                   N|                   |     004|           2009-01-01|                     null|                2004-05-04|      2021-04-10|              191538|                P37B|          VUELCO|            S|                     null|             2014-07-17| 2022-03-10 01:05:...|
|   25935956|           00|0000036876523|    2019-06-24|          10000|                  01|       75|              30|          0|                      1|                      1|       200|                080|             PVTA|                          |     BUIATTI|                | VERONICA ESTEFANIA|                  5|          F|1992-05-12|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                           2|                30|                       0|                  0|                  1|                       null|             null|            PCLE02P|                2|                              3|                  AC|                    4|              null|            null|                    |                      null|   0027368765231|                       042|                null|          016|       025935956|                   N|                   |     001|           2019-06-24|                     null|                2019-06-24|      2022-01-20|              230746|                BATC|        VW2CEVA0|            N|                     null|                   null| 2022-03-10 01:05:...|
|   25848977|           00|0000036916954|    2022-03-08|          10000|                  00|      603|              30|          0|                      1|                      8|      2603|                   |                 |                          |    ONTIVERO|                |    NATALIA SOLEDAD|                  1|          F|1992-10-02|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                           0|                 0|                       0|                  0|                  0|                       null|             null|            PCLE25H|                1|                              0|                    |                   47|              null|            null|                    |                      null|   0027369169543|                       042|                null|          016|       028990968|                   N|                 MD|     001|           2022-03-08|                     null|                2022-03-08|      2022-03-08|              003155|                 BAT|         PCLE25H|             |                     null|                   null| 2022-03-10 01:05:...|
|   01957163|           00|0000016394256|    2010-01-22|          10000|                  01|      136|              34|          0|                      1|                      1|       461|                   |                 |                          |  PALAVECINO|                |      NELIDA ANGELI|                  5|          F|1963-10-20|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                           0|                 0|                       0|                  0|                  1|                       null|             null|            PCLE06R|                2|                              1|                  PO|                   47|              null|            null|                    |                      null|   0027163942564|                       042|                null|          016|       001957163|                   N|                   |     001|           2010-01-22|                     null|                2010-01-22|      2010-01-22|              121626|                P37B|          VUELCO|            S|                     null|                   null| 2022-03-10 01:05:...|

In [55]:
#df_customer_address = df_address.join(df_customer, 'customer_id')
#df_customer_address = df_address.join(df_customer.select(col("customer_id"), col("last_change_date").alias("l_c_d_customer")), "customer_id")

### Filtrado Address

In [56]:
#antes de hacer el join, voy a hacer un nuevo dataframe, con los campos que se solicitan en el Ticket 32: --- Calle, Número, Piso, Depto, Localidad, Provincia, Código postal ---

In [57]:
df_address_cut = df_address.select(col("customer_id"),col("street_name"),col("address_outdoor_id"),col("address_indoor_id"),col("indoor_number"),col("address_department_name"),col("province_id"),col("zipcode_id"),col("last_change_date").alias("last_change_date_a"))

In [58]:
df_address_cut.toPandas()

,customer_id,street_name,address_outdoor_id,address_indoor_id,indoor_number,address_department_name,province_id,zipcode_id,last_change_date_a
0,00000660,PASCUALA DEL JUNCAL,0000850,,,112233114455,02,01646,2011-07-01
1,07121078,SAN NICOLAS,0002478,,,FLORENCIO VARELA,02,01888,2016-09-29
2,22374047,J DE LA CRUZ CONTRERAS,0000408,,,FLORENCIO VARELA,02,01888,2011-07-01
3,00002450,BACACAY,0001466,,,ITUZAINGO,02,01714,2009-01-26
4,00003925,MANUELA PEDRAZA,0001715,5,B,CAPITAL FEDERAL,01,01429,2009-01-26
...,...,...,...,...,...,...,...,...,...
2495,00005200,PARAGUAY,0003091,,,CAPITAL FEDERAL,01,01425,2009-01-26
2496,08341355,AV CORRIENTES,0004923,2,F,CAPITAL FEDERAL,01,01414,2009-01-26
2497,06987700,ESTADOS UNIDOS,0002772,2,B,CAPITAL FEDERAL,01,01227,2009-01-26
2498,00015314,AV ALVAREZ THOMAS,0000195,13,A,CAPITAL FEDERAL,01,01427,2009-01-26
2499,00016258,MONTA�ESES,0002325,,,CAPITAL FEDERAL,01,01428,2009-01-26

In [59]:
df_address_sorted = df_address_cut.orderBy([df_address_cut.customer_id, desc('last_change_date_a')])

In [60]:
#df_address_sorted = df_address_sorted.select('customer_id', concat(df_address_sorted.street_name,df_address_sorted.address_outdoor_id,df_address_sorted.address_indoor_id,df_address_sorted.indoor_number).alias('Full_Address'),'address_district_name','address_town_name','address_department_name','zipcode_id','long_zipcode_id','last_change_date')
df_address_sorted = df_address_sorted.select('customer_id', concat_ws('-', df_address_sorted.street_name,df_address_sorted.address_outdoor_id,df_address_sorted.address_indoor_id,df_address_sorted.indoor_number,df_address_sorted.address_department_name,df_address_sorted.province_id,df_address_sorted.zipcode_id).alias('Full_Address'),'last_change_date_a')

In [61]:
df_address_sorted.toPandas()

,customer_id,Full_Address,last_change_date_a
0,00000003,AV PRES BARTOLOME MITRE -0001500- - ...,2011-09-07
1,00000050,DR A ALSINA -0002849- - ...,2017-04-18
2,00000050,DR A ALSINA -0002849- - ...,2016-10-12
3,00000173,CALLE 150 -0003726- - ...,2016-10-12
4,00000173,CALLE 150 -0003726- - ...,2016-10-12
...,...,...,...
2495,29015563,IBANEZ TENIENTE 1 RO -0001355- - ...,2009-01-26
2496,29015902,GARIBALDI -0001554- - ...,2009-01-26
2497,29017100,DOMINGO MATHEU -0000972- - ...,2009-01-26
2498,29017191,VIRREY ARREDONDO -0002641-3 -B ...,2009-01-26
2499,29022069,ACASSUSO -0002665- - ...,2009-01-26

In [62]:
window = Window.partitionBy(df_address_sorted.customer_id).orderBy(desc(df_address_sorted.last_change_date_a))

In [63]:
df_address = df_address_sorted.withColumn('row_num', row_number().over(window))

In [64]:
df_address = df_address.filter(df_address.row_num <= 3)
df_address.toPandas()

,customer_id,Full_Address,last_change_date_a,row_num
0,00000003,AV PRES BARTOLOME MITRE -0001500- - ...,2011-09-07,1
1,00000050,DR A ALSINA -0002849- - ...,2017-04-18,1
2,00000050,DR A ALSINA -0002849- - ...,2016-10-12,2
3,00000173,CALLE 150 -0003726- - ...,2016-10-12,1
4,00000173,CALLE 150 -0003726- - ...,2016-10-12,2
...,...,...,...,...
2478,29015563,IBANEZ TENIENTE 1 RO -0001355- - ...,2009-01-26,1
2479,29015902,GARIBALDI -0001554- - ...,2009-01-26,1
2480,29017100,DOMINGO MATHEU -0000972- - ...,2009-01-26,1
2481,29017191,VIRREY ARREDONDO -0002641-3 -B ...,2009-01-26,1
2482,29022069,ACASSUSO -0002665- - ...,2009-01-26,1

In [65]:
df_pivot_address = df_address.groupBy('customer_id').agg(collect_list('Full_Address').alias('last_3_changes_list'))

In [66]:
df_pivot_address = df_pivot_address.selectExpr('customer_id', 'last_3_changes_list[0] as Address_1', 'last_3_changes_list[1] as Address_2', 'last_3_changes_list[2] as Address_3')

In [67]:
df_pivot_address = df_pivot_address.na.fill('---')
df_pivot_address.toPandas()

,customer_id,Address_1,Address_2,Address_3
0,00000003,AV PRES BARTOLOME MITRE -0001500- - ...,---,---
1,00000050,DR A ALSINA -0002849- - ...,DR A ALSINA -0002849- - ...,---
2,00000173,CALLE 150 -0003726- - ...,CALLE 150 -0003726- - ...,CALLE 150 -0003726- - ...
3,00000188,CALLE 156 -0004344- - ...,---,---
4,00000204,GRAL PINTO -0002441- - ...,---,---
...,...,...,...,...
2395,29015563,IBANEZ TENIENTE 1 RO -0001355- - ...,---,---
2396,29015902,GARIBALDI -0001554- - ...,---,---
2397,29017100,DOMINGO MATHEU -0000972- - ...,---,---
2398,29017191,VIRREY ARREDONDO -0002641-3 -B ...,---,---
2399,29022069,ACASSUSO -0002665- - ...,---,---

#Join de las 3 tablas de contactos

In [68]:
#BBVAW2T2-33


df_contactos = df_pivot_phone.join(df_pivot_email, "customer_id") \
                   .join(df_pivot_address, "customer_id")

In [69]:
sorted(df_contactos.columns)

['Address_1',
 'Address_2',
 'Address_3',
 'Email_1',
 'Email_2',
 'Email_3',
 'Phone_1',
 'Phone_2',
 'Phone_3',
 'customer_id']

In [70]:
df_contactos.printSchema()

root
 |-- customer_id: string (nullable = false)
 |-- Phone_1: string (nullable = false)
 |-- Phone_2: string (nullable = false)
 |-- Phone_3: string (nullable = false)
 |-- Email_1: string (nullable = false)
 |-- Email_2: string (nullable = false)
 |-- Email_3: string (nullable = false)
 |-- Address_1: string (nullable = false)
 |-- Address_2: string (nullable = false)
 |-- Address_3: string (nullable = false)

In [71]:
df_contactos_1 = df_contactos.select('customer_id','Phone_1','Email_1','Address_1')

In [72]:
df_contactos_1.createOrReplaceTempView("contactos_temp")

In [73]:
df_contactos_1.show()

+-----------+---------------+--------------------+--------------------+
|customer_id|        Phone_1|             Email_1|           Address_1|
+-----------+---------------+--------------------+--------------------+
|   00001419|54-11-6679-3207|  JU_LY1@HOTMAIL.COM|ALTE G BROWN     ...|
|   00002790|54-342-466-2478| NOTIENE@HOIMAIL.COM|AV CORDOBA       ...|
|   00014664|54-11-6505-0605|   alq@ciudad.com.ar|AV TRIUNVIRATO   ...|
|   00056407|54-336-457-7255|NELLY.S.GEREZ@GMA...|AV DR J BAUTISTA ...|
|   00058801|54-11-3663-8083|SOPLETESHLANDA@HO...|MENDOZA          ...|
|   00058909|54-11-2522-2584|jmanau@fibertel.c...|AV PTE J D PERON ...|
|   00061198|54-3442-54-6062|GUSTAVOGARCIA2009...|QUITO            ...|
|   00079642|54-11-6870-7818| MARITA@4HOTMAIL.COM|VICTORIANO AGUILA...|
|   00096670|54-11-4407-1782|CONTACTO@COMPRESO...|CATTANEO         ...|
|   00098340|54-351-361-8014|NELLYARNONI@YAHOO...|ARENALES         ...|
|   00099612|54-351-753-2530|GRA.SOUTO@HOTMAIL...|AV SALVADOR M DEL...|
|   00100409|54-280-495-3104|JULIUSORTEGUS5@GM...|SOLIS            ...|
|   00101437|54-381-585-3371|   NOTIENE@GMAIL.COM|CALLE 51         ...|
|   00101679|54-11-6596-0038|GUALDIN@FIBERTEL....|CALLE 20         ...|
|   00477803|54-341-664-6849|LEMOS-LILIANA@HOT...|PTE D F SARMIENTO...|
|   00510760|54-11-3796-5049|GABYLINDEN@GMAIL.COM|ESMERALDA        ...|
|   00729305|54-297-513-0940|   AURELIAK@LIVE.COM|AV DARDO ROCHA   ...|
|   00730948|54-15-2365-5880|   WEI7082@GMAIL.COM|AV CASEROS       ...|
|   00736194|54-11-7363-3586|EDITHDELIA@HOTMAI...|AV GRAL JOSE MARI...|
|   01010176|54-381-642-5198|  CORTESMT@GMAIL.COM|DEAN FUNES       ...|
+-----------+---------------+--------------------+--------------------+
only showing top 20 rows

#Vistas temporales

In [74]:
# Generar una vista temporal a partir del DataFrame de contactos. Tarjeta 35
df_contactos_1.createTempView('tw_contactos_1')

In [82]:
# Generar una vista temporal a partir del archivo t_abtq_customer_basics. Tarjeta 36
df_customer_basics = spark.read.parquet('/content/Dataset/customer_basics.snappy.parquet')
df_customer_basics.createOrReplaceTempView('tw_customer_basics')

In [83]:
# Generar una vista temporal a partir del archivo t_acog_marital_status_type. Tarjeta 37
df_marital_status = spark.read.parquet('/content/Dataset/t_acog_marital_status_type.parquet')
df_marital_status.createOrReplaceTempView('tw_marital_status')

In [84]:
# Generar una vista temporal a partir del archivo t_acog_nationality. Tarjeta 38
df_acog_nationality = spark.read.parquet('/content/Dataset/t_acog_nationality.parquet')
df_acog_nationality.createOrReplaceTempView('tw_acog_nationality')

#Consultas en spark SQL

In [ ]:
# Generar un público objetivo (1) que cumpla los siguientes puntos:
# Cliente/Antigüedad superior a 5 años/Asalariado Fijo/Estado civil Casado --- Tarjeta 39

In [88]:
df_segment_type = spark.read.parquet('/content/Dataset/segment_type.parquet')

In [89]:
df_segment_type.show()

+----------+--------------------+----------------------------+--------------------------------+-----------------------+--------------------+--------------------------+---------------------+
|segment_id|        segment_desc|customer_subgroup_classif_id|cust_personalization_status_type|segment_customer_number|segment_customer_per|last_change_timestamp_date|operational_load_date|
+----------+--------------------+----------------------------+--------------------------------+-----------------------+--------------------+--------------------------+---------------------+
|     10100|          CORPORATES|                            |                               O|                   1024|                   0|      2014-02-21 15:47:...| 2021-12-16 13:41:...|
|     10200|CORPORATIVA GESTI...|                            |                               O|                    114|                   0|      2004-01-27 17:15:...| 2021-12-16 13:41:...|
|     20100|    INSTITUCIONES I1|                            |                               O|                   1214|                   0|      2016-10-21 19:40:...| 2021-12-16 13:41:...|
|     20200|    INSTITUCIONES I2|                         M22|                               O|                   2883|                   0|      2016-10-21 19:48:...| 2021-12-16 13:41:...|
|     20300|INST. ALTO VALOR ...|                         M23|                               O|                    178|                   0|      2006-02-27 19:59:...| 2021-12-16 13:41:...|
|     20400|INSTITUCIONAL EDU...|                         M23|                               O|                    363|                   0|      2006-02-22 22:05:...| 2021-12-16 13:41:...|
|     20500|INSTITUCIONAL FIN...|                         M23|                               O|                   1647|                   0|      2006-02-22 22:07:...| 2021-12-16 13:41:...|
|     20600| OTRAS INSTITUCIONES|                         M23|                               O|                  29544|                   0|      2006-02-22 22:08:...| 2021-12-16 13:41:...|
|     30100|        COMPANIES E1|                            |                               O|                   4555|                   0|      2016-10-21 19:51:...| 2021-12-16 13:41:...|
|     30200|        COMPANIES E2|                         M10|                               O|                   3792|                   0|      2016-10-21 19:53:...| 2021-12-16 13:41:...|
|     30300|        COMPANIES E3|                         M10|                               O|                   4081|                   0|      2016-10-21 19:53:...| 2021-12-16 13:41:...|
|     30400| EMPRESAS BAJO VALOR|                         M10|                               O|                    552|                   0|      2006-02-22 22:33:...| 2021-12-16 13:41:...|
|     31100|     AGROPECUARIO A1|                            |                               O|                    605|                   0|      2016-10-21 19:55:...| 2021-12-16 13:41:...|
|     31200|     AGROPECUARIO A2|                            |                               O|                   1411|                   0|      2016-10-21 19:56:...| 2021-12-16 13:41:...|
|     31300|     AGROPECUARIO A3|                            |                               O|                   3533|                   0|      2016-10-21 19:58:...| 2021-12-16 13:41:...|
|     31400|AGROPECUARIO BAJO...|                            |                               O|                    693|                   0|      2011-02-21 18:59:...| 2021-12-16 13:41:...|
|     40100|               SMALL|                            |                               O|                  24009|                   0|      2014-09-15 14:57:...| 2021-12-16 13:41:...|
|     40200|COMERCIOS ALTO VA...|                         M20|                               O|                    634|                   0|      2006-02-22 22:49:...| 2021-12-16 13:41:...|
|     40300|COMERCIOS MEDIO V...|                         M20|                               O|                   1052|                   0|      2006-02-22 22:51:...| 2021-12-16 13:41:...|
|     40400|COMERCIOS BAJO VALOR|                         M20|                               N|                  14375|                   0|      2006-02-27 20:10:...| 2021-12-16 13:41:...|
+----------+--------------------+----------------------------+--------------------------------+-----------------------+--------------------+--------------------------+---------------------+
only showing top 20 rows

SELECT *
FROM clientes
WHERE antiguedad > 5
AND tipo_contrato = 'Asalariado Fijo'
AND estado_civil = 'Casado'

In [85]:
#Creación de un SQL context
from pyspark.sql import SQLContext
sqlContext = SQLContext(spark)

/content/spark-3.3.2-bin-hadoop3/python/pyspark/sql/context.py:112: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [ ]:
df_sql_39 = sqlContext('SELECT * FROM ')