<a href="https://colab.research.google.com/github/iGhostlp/Albus/blob/severus/Proyecto_BBVA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [13]:
!wget -q https://dlcdn.apache.org/spark/spark-3.3.2/spark-3.3.2-bin-hadoop3.tgz

In [14]:
ls

Datasets/  sample_data/  spark-3.3.2-bin-hadoop3.tgz

In [15]:
!tar xf spark-3.3.2-bin-hadoop3.tgz

In [16]:
!java -version

openjdk version "11.0.18" 2023-01-17
OpenJDK Runtime Environment (build 11.0.18+10-post-Ubuntu-0ubuntu120.04.1)
OpenJDK 64-Bit Server VM (build 11.0.18+10-post-Ubuntu-0ubuntu120.04.1, mixed mode, sharing)

In [17]:
!readlink -f $(which java) | sed "s:bin/java::"

/usr/lib/jvm/java-11-openjdk-amd64/

In [18]:
!echo $JAVA_HOME

/usr/lib/jvm/java-11-openjdk-amd64

In [19]:
!pip install -q findspark

In [20]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.9/dist-packages (3.3.2)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.9/dist-packages (from pyspark) (0.10.9.5)

In [21]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = '/content/spark-3.3.2-bin-hadoop3'

In [22]:
import findspark

In [51]:
import pandas as pd

In [23]:
findspark.init()

In [24]:
findspark.find()

'/content/spark-3.3.2-bin-hadoop3'

In [83]:
from pyspark.sql import SparkSession

In [84]:
from pyspark.sql.functions import col

In [85]:
spark = SparkSession.builder.master("local[*]").config('spark.sql.parquet.datetimeRebaseModeInRead','CORRECTED').getOrCreate()

In [86]:
spark

In [87]:
path_address = '/content/Datasets/address.snappy.parquet'
path_customer_basics = '/content/Datasets/customer_basics.snappy.parquet'
path_customer = '/content/Datasets/customer.snappy.parquet'
path_mails = '/content/Datasets/email.snappy.parquet'
path_phones = '/content/Datasets/phones.snappy.parquet'

In [88]:
df_address = spark.read.load(path_address, sep=',' , inferschema= 'true', header = 'true')

df_customerb = spark.read.load(path_customer_basics, sep = ',' , inferschema = 'true', header = 'true')

df_customer = spark.read.load(path_customer, sep = ',' , inferschema = 'true', header = 'true')

df_mail = spark.read.load(path_mails, sep = ',' , inferschema = 'true', header = 'true')

df_phones = spark.read.load(path_phones, sep = ',' , inferschema = 'true', header = 'true')

In [89]:
df_customerb.toPandas()

,customer_id,personal_type,personal_id,admission_date,sale_channel_id,operation_channel_id,branch_id,business_area_id,campaing_id,customer_situation_type,...,customer_first_block_date,customer_registration_date,last_change_date,last_change_hms_date,register_terminal_id,register_user_id,customer_type,customer_seniority_number,last_status_change_date,operational_load_date
0,01157212,00,0000013226627,2008-08-28,10000,00,74,30,0,1,...,None,2008-08-28,2021-09-16,112634,3633,VUELCO,N,None,None,2022-03-10 01:05:30.551
1,26745469,00,0000013226860,2020-04-20,10000,00,243,30,0,1,...,None,2020-04-20,2020-06-25,174211,P37B,PCLE510,N,None,2020-05-18,2022-03-10 01:05:30.551
2,19403025,27,0000007880359,2012-03-28,10000,00,418,34,0,1,...,None,2012-03-28,2013-04-20,175404,P37B,PCLE10P,S,None,None,2022-03-10 01:05:30.551
3,19963134,27,0000007882950,2013-05-28,10000,01,259,30,0,1,...,None,2013-05-28,2013-05-28,175554,P37B,A118096,S,None,None,2022-03-10 01:05:30.551
4,06916693,27,0000007883500,2006-04-04,10000,,207,34,0,1,...,None,2006-04-04,2013-02-27,174517,P37B,VUELCO,S,None,None,2022-03-10 01:05:30.551
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1610,20336532,31,0000093907052,2013-12-23,10000,00,141,34,0,1,...,None,2013-12-23,2017-08-16,225946,P37B,PCLE10P,S,None,2015-10-01,2022-03-10 01:05:30.551
1611,24405935,31,0000093917909,2018-02-01,10000,01,210,34,0,1,...,None,2018-02-01,2018-02-01,145946,P37B,A116396,S,None,2018-02-01,2022-03-10 01:05:30.551
1612,03979302,31,0000093918618,2011-08-05,10000,00,156,34,0,1,...,None,2011-08-05,2011-08-05,161548,P37B,PCLE10P,S,None,None,2022-03-10 01:05:30.551
1613,19776813,31,0000093920693,2013-01-14,10000,00,66,34,0,1,...,None,2013-01-14,2013-01-14,162455,P37B,PCLE10P,S,None,None,2022-03-10 01:05:30.551
1614,06086785,31,0000093923513,2003-03-06,10000,01,118,34,0,1,...,None,2003-03-06,2003-04-02,042136,P37B,VUELCO,S,None,None,2022-03-10 01:05:30.551