<a href="https://colab.research.google.com/github/iGhostlp/Albus/blob/Sin-Dientes/Proyecto_BBVA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Armado de entorno

In [36]:
pip install docker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: docker in /usr/local/lib/python3.9/dist-packages (6.0.1)
Requirement already satisfied: urllib3>=1.26.0 in /usr/local/lib/python3.9/dist-packages (from docker) (1.26.15)
Requirement already satisfied: requests>=2.26.0 in /usr/local/lib/python3.9/dist-packages (from docker) (2.27.1)
Requirement already satisfied: packaging>=14.0 in /usr/local/lib/python3.9/dist-packages (from docker) (23.0)
Requirement already satisfied: websocket-client>=0.32.0 in /usr/local/lib/python3.9/dist-packages (from docker) (1.5.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26.0->docker) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26.0->docker) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26.0->docker) (2.0.12)

In [37]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.9/dist-packages (3.3.2)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.9/dist-packages (from pyspark) (0.10.9.5)

In [38]:
pip install findspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: findspark in /usr/local/lib/python3.9/dist-packages (2.0.1)

In [39]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = '/content/spark-3.3.2-bin-hadoop3'

In [40]:
import findspark

In [41]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [42]:
!wget -q https://dlcdn.apache.org/spark/spark-3.3.2/spark-3.3.2-bin-hadoop3.tgz

In [43]:
ls

Dataset/   sample_data/              spark-3.3.2-bin-hadoop3.tgz
Datasets/  spark-3.3.2-bin-hadoop3/  spark-3.3.2-bin-hadoop3.tgz.1

In [44]:
!tar xf spark-3.3.2-bin-hadoop3.tgz

In [45]:
!java -version

openjdk version "11.0.18" 2023-01-17
OpenJDK Runtime Environment (build 11.0.18+10-post-Ubuntu-0ubuntu120.04.1)
OpenJDK 64-Bit Server VM (build 11.0.18+10-post-Ubuntu-0ubuntu120.04.1, mixed mode, sharing)

In [46]:
!readlink -f $(which java) | sed "s:bin/java::"

/usr/lib/jvm/java-11-openjdk-amd64/

In [47]:
!echo $JAVA_HOME

/usr/lib/jvm/java-11-openjdk-amd64

In [48]:
!pip install -q findspark

In [49]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.9/dist-packages (3.3.2)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.9/dist-packages (from pyspark) (0.10.9.5)

In [50]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = '/content/spark-3.3.2-bin-hadoop3'

In [51]:
import findspark

In [52]:
findspark.init()

In [53]:
findspark.find()

'/content/spark-3.3.2-bin-hadoop3'

In [54]:
from pyspark.sql import SparkSession

In [55]:
from pyspark.sql.functions import col

In [56]:
spark = SparkSession.builder.master("local[*]").config('spark.sql.parquet.datetimeRebaseModeInRead','CORRECTED').getOrCreate()

In [57]:
spark.sparkContext.setLogLevel("ERROR")

In [58]:
spark

In [59]:
import pandas as pd

# Creación de dataframes

In [60]:
# Creando el dataframe

In [61]:
df_address = spark.read.parquet("/content/Dataset/address.snappy.parquet")

In [62]:
df_customer = spark.read.parquet("/content/Dataset/customer.snappy.parquet")

In [63]:
df_customer_b = spark.read.parquet("/content/Dataset/customer_basics.snappy.parquet")

In [64]:
df_mails = spark.read.parquet("/content/Dataset/email.snappy.parquet")

In [65]:
df_phones = spark.read.parquet("/content/Dataset/phones.snappy.parquet")

# Exploración de la tabla

In [66]:
# Exploracion de tabla

df_mails.show()

+-----------+---------+-------------------+--------------+----------+------------------+--------------------+-----------------+--------------+-------------------+----------------+--------------------------+--------------+----------------+-------------------+--------------------+-----------------------+---------------------+--------------------------+-------------------+----------------+
|customer_id|role_type|address_sequence_id|residence_type|email_type|primary_email_type|          email_desc|email_domain_type|encripted_type|field_length_number|   comments_desc|customer_email_status_type|email_app_type|register_user_id|last_change_user_id|last_change_hms_date|last_change_terminal_id|operational_load_date|customer_email_status_date|registry_entry_date|last_change_date|
+-----------+---------+-------------------+--------------+----------+------------------+--------------------+-----------------+--------------+-------------------+----------------+--------------------------+--------------+----------------+-------------------+--------------------+-----------------------+---------------------+--------------------------+-------------------+----------------+
|   00000000|       CL|                  1|             1|  PERSONAL|                 0|LIBRERIAURUGUAY@G...|              COM|              |                 30|                |                 DECLARADO|          CTES|          A79018|             A79018|            12:05:36|                   4560| 2021-12-09 19:39:...|                2015-10-27|         2015-10-27|      2015-10-27|
|   00000000|       CL|                  2|             2|   LABORAL|                -1|ALVAROJOSE.DAGAND...|              COM|             N|                 30|  ALTA EMPLEADOS|                  VALIDADO|          VLCO|         PCLE30J|            PCLE30J|            23:59:14|                       | 2021-12-09 19:39:...|                2016-10-17|         2016-10-17|      2019-12-18|
|   00027555|       CL|                  1|             1|  PERSONAL|                 0|ALEFRID666@YAHOO....|                 |             N|                 30|                |                  VALIDADO|          FNET|        GPROBANK|           GPROBANK|            18:46:25|                   Y57R| 2021-12-09 19:39:...|                2012-07-08|         2012-07-08|      2012-07-08|
|   00027568|       CL|                  1|             1|  PERSONAL|                 0|   SCATIVA@GMAIL.COM|                 |             N|                 30|                |                  VALIDADO|          FNET|        GPROBANK|           GPROBANK|            10:50:19|                   4ZGA| 2021-12-09 19:39:...|                2016-03-15|         2016-03-15|      2016-03-15|
|   00027595|       CL|                  1|             1|  PERSONAL|                 0|        NO@GMAIL.COM|              COM|              |                 30|                |                 DECLARADO|          CTES|          A16799|             A16799|            17:37:16|                   1582| 2021-12-09 19:39:...|                2018-08-07|         2018-08-07|      2018-08-07|
|   00027609|       CL|                  1|             1|  PERSONAL|                 0|lindocampo@yahoo.com|              com|             N|                 30|VUELCO FRONT END|                  NO VERIF|          VLCO|                |            PCLE11O|            18:14:49|                       | 2021-12-09 19:39:...|                2007-12-12|         2001-07-19|      2009-06-27|
|   27514336|       CL|                  1|             1|  PERSONAL|                 0|EDGAR.RIVERO@ROCK...|              COM|             N|                 30|VINCULADAS (PSA)|                COMPROBADO|          VINC|         XA05318|           PCLUPC15|            17:17:15|                   PC15| 2021-12-09 19:39:...|                2021-01-25|         2021-01-25|      2021-01-25|
|   00027726|       CL|                  1|             1|  PERSONAL|                 0|MORELPUB@FIBERTEL...|                 |             N|                 30|                |                  VALIDADO|          FNET|        GPROBANK|           GPROBANK|            14:50:43|                   4ZLR| 2021-12-09 19:39:...|                2016-09-20|         2016-09-20|      2016-09-20|
|   00027766|       CL|                  1|             1|  PERSONAL|                 0|HAYDINEITOR@GMAIL...|                 |             N|                 30|                |                COMPROBADO|          FNET|        GPROBANK|            RCLM131|            16:37:42|                   M131| 2021-12-09 19:39:...|                2018-11-08|         2014-11-10|      2014-11-10|
|   00027780|       CL|                  1|             1|  PERSONAL|                 0|LEMOS-LILIANA@HOT...|              COM|              |                 30|                |                 DECLARADO|          WKFL|         a115236|            A115981|            12:02:56|                   1057| 2021-12-09 19:39:...|                2021-03-23|         2019-12-03|      2021-03-23|
|   00027781|       CL|                  1|             2|  PERSONAL|                 0|hgrinschpun@edeno...|              com|             N|                 30|VUELCO FRONT END|                  NO VERIF|          VLCO|                |           GPROBANK|            12:00:00|                       | 2021-12-09 19:39:...|                2007-12-12|         2002-05-14|      2002-06-11|
|   00027867|       CL|                  1|             2|  PERSONAL|                 0| scoppo@arnet.com.ar|              com|             N|                 30|VUELCO FRONT END|                  NO VERIF|          VLCO|                |           GPROBANK|            12:00:00|                       | 2021-12-09 19:39:...|                2007-12-12|         2002-04-01|      2002-04-22|
|   00027877|       CL|                  1|             1|  PERSONAL|                 0|LAURAFRISCHKNECHT...|                 |              |                 30|                |                  VALIDADO|          FNET|        GPROBANK|           GPROBANK|            21:40:57|                   4ZLT| 2021-12-09 19:39:...|                2014-02-04|         2014-01-03|      2014-02-04|
|   00027942|       CL|                  1|             1|  PERSONAL|                 0|           NO@NO.COM|              COM|              |                 30|                |                 DECLARADO|          WKFL|         a127416|            A127416|            09:10:42|                   EECC| 2021-12-09 19:39:...|                2019-03-26|         2019-03-26|      2019-03-26|
|   00027990|       CL|                  1|             1|  PERSONAL|                 0|  VEMUSICO@GMAIL.COM|              COM|              |                 30|        20150723|                 DECLARADO|          CTES|          A31674|            A118176|            14:06:21|                   5A85| 2021-12-09 19:39:...|                2015-05-19|         2015-05-19|      2015-07-23|
|   00028043|       CL|                  1|             2|  PERSONAL|                 0| dario@utenet.com.ar|              com|             N|                 30|VUELCO FRONT END|                  NO VERIF|          VLCO|                |           GPROBANK|            12:00:00|                       | 2021-12-09 19:39:...|                2007-12-12|         2002-02-27|      2002-06-02|
|   00028080|       CL|                  1|             1|  PERSONAL|                 0|gmrepetto@ciudad....|              com|             N|                 30|VUELCO FRONT END|                  NO VERIF|          VLCO|                |            PCLE11O|            18:14:49|                       | 2021-12-09 19:39:...|                2007-12-12|         2002-02-12|      2009-06-27|
|   00028091|       CL|                  1|             1|  PERSONAL|                 0|GRACIELADD@HOTMAI...|                 |              |                 30|                |                  VALIDADO|          FNET|        GPROBANK|           GPROBANK|            21:38:47|                   4ZFV| 2021-12-09 19:39:...|                2014-03-21|         2014-03-21|      2014-03-21|
|   00028104|       CL|                  1|             1|  PERSONAL|                 0|M.CAAMANO2403@GMA...|                 |             N|                 30|                |                COMPROBADO|          FNET|        GPROBANK|           GPROBANK|            14:21:27|                   Y57R| 2021-12-09 19:39:...|                2016-10-06|         2016-10-05|      2016-10-05|
|   00028284|       CL|                  1|             1|  PERSONAL|                 1|GABYDIAZ27@HOTMAI...|              COM|              |                 30|                |                 DECLARADO|          CTES|         A125556|            A125556|            13:49:34|                   2134| 2021-12-09 19:39:...|                2015-05-21|         2015-05-21|      2015-05-21|
+-----------+---------+-------------------+--------------+----------+------------------+--------------------+-----------------+--------------+-------------------+----------------+--------------------------+--------------+----------------+-------------------+--------------------+-----------------------+---------------------+--------------------------+-------------------+----------------+
only showing top 20 rows

# QUERY

In [67]:
# query solicitada

df_customer_mails = df_customer_b.join(df_mails, ['customer_id'], how='left')

In [68]:
#exploracion esquema

df_customer_mails.printSchema()

root
 |-- customer_id: string (nullable = true)
 |-- personal_type: string (nullable = true)
 |-- personal_id: string (nullable = true)
 |-- admission_date: date (nullable = true)
 |-- sale_channel_id: string (nullable = true)
 |-- operation_channel_id: string (nullable = true)
 |-- branch_id: integer (nullable = true)
 |-- business_area_id: integer (nullable = true)
 |-- campaing_id: decimal(2,0) (nullable = true)
 |-- customer_situation_type: integer (nullable = true)
 |-- customer_condition_type: integer (nullable = true)
 |-- manager_id: integer (nullable = true)
 |-- tracking_manager_id: string (nullable = true)
 |-- credit_manager_id: string (nullable = true)
 |-- credit_recovery_manager_id: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- second_last_name: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- marital_status_type: integer (nullable = true)
 |-- gender_type: string (nullable = true)
 |-- birth_date: date (nullable = true)
 |-- country_nationality_id: integer (nullable = true)
 |-- residence_country_id: string (nullable = true)
 |-- customer_subject_type: string (nullable = true)
 |-- sector_type: integer (nullable = true)
 |-- customer_level_access_type: string (nullable = true)
 |-- cust_bcra_econ_activity_type: integer (nullable = true)
 |-- internal_economic_activity_type: integer (nullable = true)
 |-- bbva_inhabilitation_type: string (nullable = true)
 |-- customer_block_bbva_date: date (nullable = true)
 |-- customer_unblock_bbva_date: date (nullable = true)
 |-- customer_block_bcra_date: date (nullable = true)
 |-- customer_unblock_bcra_date: date (nullable = true)
 |-- customer_pending_notice_type: string (nullable = true)
 |-- last_notice_number: decimal(3,0) (nullable = true)
 |-- last_reference_number_id: decimal(3,0) (nullable = true)
 |-- last_service_number: decimal(3,0) (nullable = true)
 |-- last_address_number: decimal(3,0) (nullable = true)
 |-- last_unlinking_account_date: date (nullable = true)
 |-- customer_end_date: date (nullable = true)
 |-- last_change_user_id: string (nullable = true)
 |-- customer_pep_type: decimal(1,0) (nullable = true)
 |-- bbva_family_lnk_weighted_number: decimal(1,0) (nullable = true)
 |-- customer_status_type: string (nullable = true)
 |-- scoring_activity_type: integer (nullable = true)
 |-- refinancing_number: integer (nullable = true)
 |-- refinancing_date: date (nullable = true)
 |-- coholder_customer_id: string (nullable = true)
 |-- customer_bcra_situation_id: integer (nullable = true)
 |-- customer_cuit_id: string (nullable = true)
 |-- customer_position_vat_type: string (nullable = true)
 |-- balance_closing_date: date (nullable = true)
 |-- profession_id: string (nullable = true)
 |-- bbva_cust_number: string (nullable = true)
 |-- customer_linked_type: string (nullable = true)
 |-- customer_entry_type: string (nullable = true)
 |-- job_type: string (nullable = true)
 |-- profession_start_date: date (nullable = true)
 |-- customer_first_block_date: date (nullable = true)
 |-- customer_registration_date: date (nullable = true)
 |-- last_change_date: date (nullable = true)
 |-- last_change_hms_date: string (nullable = true)
 |-- register_terminal_id: string (nullable = true)
 |-- register_user_id: string (nullable = true)
 |-- customer_type: string (nullable = true)
 |-- customer_seniority_number: decimal(4,0) (nullable = true)
 |-- last_status_change_date: date (nullable = true)
 |-- operational_load_date: timestamp (nullable = true)
 |-- role_type: string (nullable = true)
 |-- address_sequence_id: integer (nullable = true)
 |-- residence_type: string (nullable = true)
 |-- email_type: string (nullable = true)
 |-- primary_email_type: integer (nullable = true)
 |-- email_desc: string (nullable = true)
 |-- email_domain_type: string (nullable = true)
 |-- encripted_type: string (nullable = true)
 |-- field_length_number: string (nullable = true)
 |-- comments_desc: string (nullable = true)
 |-- customer_email_status_type: string (nullable = true)
 |-- email_app_type: string (nullable = true)
 |-- register_user_id: string (nullable = true)
 |-- last_change_user_id: string (nullable = true)
 |-- last_change_hms_date: string (nullable = true)
 |-- last_change_terminal_id: string (nullable = true)
 |-- operational_load_date: timestamp (nullable = true)
 |-- customer_email_status_date: date (nullable = true)
 |-- registry_entry_date: date (nullable = true)
 |-- last_change_date: date (nullable = true)

In [69]:
df_customer_mails.show()

+-----------+-------------+-------------+--------------+---------------+--------------------+---------+----------------+-----------+-----------------------+-----------------------+----------+-------------------+-----------------+--------------------------+----------+----------------+-----------------+-------------------+-----------+----------+----------------------+--------------------+---------------------+-----------+--------------------------+----------------------------+-------------------------------+------------------------+------------------------+--------------------------+------------------------+--------------------------+----------------------------+------------------+------------------------+-------------------+-------------------+---------------------------+-----------------+-------------------+-----------------+-------------------------------+--------------------+---------------------+------------------+----------------+--------------------+--------------------------+----------------+--------------------------+--------------------+-------------+----------------+--------------------+-------------------+--------+---------------------+-------------------------+--------------------------+----------------+--------------------+--------------------+----------------+-------------+-------------------------+-----------------------+---------------------+---------+-------------------+--------------+----------+------------------+----------+-----------------+--------------+-------------------+-------------+--------------------------+--------------+----------------+-------------------+--------------------+-----------------------+---------------------+--------------------------+-------------------+----------------+
|customer_id|personal_type|  personal_id|admission_date|sale_channel_id|operation_channel_id|branch_id|business_area_id|campaing_id|customer_situation_type|customer_condition_type|manager_id|tracking_manager_id|credit_manager_id|credit_recovery_manager_id| last_name|second_last_name|       first_name|marital_status_type|gender_type|birth_date|country_nationality_id|residence_country_id|customer_subject_type|sector_type|customer_level_access_type|cust_bcra_econ_activity_type|internal_economic_activity_type|bbva_inhabilitation_type|customer_block_bbva_date|customer_unblock_bbva_date|customer_block_bcra_date|customer_unblock_bcra_date|customer_pending_notice_type|last_notice_number|last_reference_number_id|last_service_number|last_address_number|last_unlinking_account_date|customer_end_date|last_change_user_id|customer_pep_type|bbva_family_lnk_weighted_number|customer_status_type|scoring_activity_type|refinancing_number|refinancing_date|coholder_customer_id|customer_bcra_situation_id|customer_cuit_id|customer_position_vat_type|balance_closing_date|profession_id|bbva_cust_number|customer_linked_type|customer_entry_type|job_type|profession_start_date|customer_first_block_date|customer_registration_date|last_change_date|last_change_hms_date|register_terminal_id|register_user_id|customer_type|customer_seniority_number|last_status_change_date|operational_load_date|role_type|address_sequence_id|residence_type|email_type|primary_email_type|email_desc|email_domain_type|encripted_type|field_length_number|comments_desc|customer_email_status_type|email_app_type|register_user_id|last_change_user_id|last_change_hms_date|last_change_terminal_id|operational_load_date|customer_email_status_date|registry_entry_date|last_change_date|
+-----------+-------------+-------------+--------------+---------------+--------------------+---------+----------------+-----------+-----------------------+-----------------------+----------+-------------------+-----------------+--------------------------+----------+----------------+-----------------+-------------------+-----------+----------+----------------------+--------------------+---------------------+-----------+--------------------------+----------------------------+-------------------------------+------------------------+------------------------+--------------------------+------------------------+--------------------------+----------------------------+------------------+------------------------+-------------------+-------------------+---------------------------+-----------------+-------------------+-----------------+-------------------------------+--------------------+---------------------+------------------+----------------+--------------------+--------------------------+----------------+--------------------------+--------------------+-------------+----------------+--------------------+-------------------+--------+---------------------+-------------------------+--------------------------+----------------+--------------------+--------------------+----------------+-------------+-------------------------+-----------------------+---------------------+---------+-------------------+--------------+----------+------------------+----------+-----------------+--------------+-------------------+-------------+--------------------------+--------------+----------------+-------------------+--------------------+-----------------------+---------------------+--------------------------+-------------------+----------------+
|   01157212|           00|0000013226627|    2008-08-28|          10000|                  00|       74|              30|          0|                      1|                      1|       192|                   |                 |                          |     RAMOS|                |  GERARDO GABRIEL|                  1|          M|1959-08-20|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                            |                11|                       0|                  0|                  1|                       null|             null|            A800118|                0|                              3|                  AC|                   50|              null|            null|                    |                      null|   0020132266272|                       042|                null|          035|       001157212|                   N|                   |     004|           2009-01-01|                     null|                2008-08-28|      2021-09-16|              112634|                3633|          VUELCO|            N|                     null|                   null| 2022-03-10 01:05:...|     null|               null|          null|      null|              null|      null|             null|          null|               null|         null|                      null|          null|            null|               null|                null|                   null|                 null|                      null|               null|            null|
|   26745469|           00|0000013226860|    2020-04-20|          10000|                  00|      243|              30|          0|                      1|                      1|       226|                080|                 |                          |FRIEDERICH|                |      LEO IGNACIO|                  5|          M|1957-08-20|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                            |                 5|                       0|                  0|                  2|                       null|             null|            PCLE06R|                2|                              1|                  AC|                   18|              null|            null|                    |                      null|   0020132268607|                       042|                null|          007|       026745469|                   N|                   |     001|           2020-05-18|                     null|                2020-04-20|      2020-06-25|              174211|                P37B|         PCLE510|            N|                     null|             2020-05-18| 2022-03-10 01:05:...|     null|               null|          null|      null|              null|      null|             null|          null|               null|         null|                      null|          null|            null|               null|                null|                   null|                 null|                      null|               null|            null|
|   19403025|           27|0000007880359|    2012-03-28|          10000|                  00|      418|              34|          0|                      1|                      8|       139|                   |                 |                          | VELAZQUEZ|                |         ROMUALDO|                  1|          M|1946-02-09|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                           0|                 0|                       0|                  0|                  1|                       null|             null|            PCLE25Q|                1|                              1|                  PO|                   47|              null|            null|                    |                      null|   0020078803593|                       042|                null|          016|       019403025|                   N|                 MD|     001|           2012-03-28|                     null|                2012-03-28|      2013-04-20|              175404|                P37B|         PCLE10P|            S|                     null|                   null| 2022-03-10 01:05:...|     null|               null|          null|      null|              null|      null|             null|          null|               null|         null|                      null|          null|            null|               null|                null|                   null|                 null|                      null|               null|            null|
|   19963134|           27|0000007882950|    2013-05-28|          10000|                  01|      259|              30|          0|                      1|                      1|       553|                   |                 |                          |     ZUPEL|                |   RUBEN CEFERINO|                  5|          M|1949-03-07|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                           0|                 0|                       0|                  0|                  1|                       null|             null|            PCLE06R|                2|                              1|                  PO|                   50|              null|            null|                    |                      null|   0020078829509|                       042|                null|          038|       019963134|                   N|                   |     004|           2013-05-28|                     null|                2013-05-28|      2013-05-28|              175554|                P37B|         A118096|            S|                     null|                   null| 2022-03-10 01:05:...|     null|               null|          null|      null|              null|      null|             null|          null|               null|         null|                      null|          null|            null|               null|                null|                   null|                 null|                      null|               null|            null|
|   06916693|           27|0000007883500|    2006-04-04|          10000|                    |      207|              34|          0|                      1|                      1|        11|                   |                 |                          |  SCARAFIA|                |          ALCIDES|                  1|          M|1948-08-26|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                            |                 0|                       0|                  0|                  1|                       null|             null|            PCLE25Q|                0|                              1|                  CA|                   47|              null|            null|                    |                      null|   0020078835002|                       042|                null|          016|       006916693|                   N|                   |     001|           2009-01-01|                     null|                2006-04-04|      2013-02-27|              174517|                P37B|          VUELCO|            S|                     null|                   null| 2022-03-10 01:05:...|     null|               null|          null|      null|              null|      null|             null|          null|               null|         null|                      null|          null|            null|               null|                null|                   null|                 null|                      null|               null|            null|
|   19955757|           27|0000007885360|    2013-05-24|          10000|                  00|       15|              34|          0|                      1|                      8|        81|                   |                 |                          |    AVALOS|                |            LUCAS|                  1|          M|1949-01-01|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                           0|                 0|                       0|                  0|                  1|                       null|             null|            PCLE25Q|                1|                              1|                  PO|                   47|              null|            null|                    |                      null|   0020078853604|                       042|                null|          016|       019955757|                   N|                 MO|     001|           2013-05-24|                     null|                2013-05-24|      2013-05-24|              175554|                P37B|         PCLE10P|            S|                     null|                   null| 2022-03-10 01:05:...|     null|               null|          null|      null|              null|      null|             null|          null|               null|         null|                      null|          null|            null|               null|                null|                   null|                 null|                      null|               null|            null|
|   01718049|           27|0000007889122|    2009-07-30|          74000|                  01|      237|              30|          0|                      1|                      1|       979|                   |                 |                          |   BARRERA|                | ALEJANDRO HECTOR|                  1|          M|1950-02-26|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                            |                 0|                       0|                  0|                  1|                       null|             null|            PCLE25Q|                0|                              1|                  PO|                   35|              null|            null|                    |                      null|   0020078891220|                       042|                null|          025|       001718049|                   N|                   |     003|           2009-07-30|                     null|                2009-07-30|      2009-07-30|              163820|                P37B|          VUELCO|            S|                     null|                   null| 2022-03-10 01:05:...|     null|               null|          null|      null|              null|      null|             null|          null|               null|         null|                      null|          null|            null|               null|                null|                   null|                 null|                      null|               null|            null|
|   21466591|           27|0000007889212|    2015-04-23|          10000|                  00|      603|              34|          0|                      1|                      8|      2603|                   |                 |                          |    CORTEZ|                |          ROBERTO|                  1|          M|1950-02-05|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                           0|                 0|                       0|                  0|                  0|                       null|             null|            PCLE06R|                1|                              1|                  PO|                   47|              null|            null|                    |                      null|   0023078892129|                       042|                null|          016|       021466591|                   N|                 MD|     001|           2015-04-23|                     null|                2015-04-23|      2015-04-23|              231958|                P37B|         PCLE25H|            S|                     null|                   null| 2022-03-10 01:05:...|     null|               null|          null|      null|              null|      null|             null|          null|               null|         null|                      null|          null|            null|               null|                null|                   null|                 null|                      null|               null|            null|

# Extraccion de datos

In [70]:
df_emails = spark.read.parquet('/content/Datasets/email.snappy.parquet')

In [76]:
df_customer = spark.read.parquet('/content/Datasets/customer_basics.snappy.parquet')

In [77]:

df_customer_emails = df_emails.join(df_customer, 'customer_id', how="right")

#Filtrado de e-mails

In [83]:
import pyspark.sql.functions as F
from pyspark.sql import SparkSession
from pyspark.sql.functions import concat,col, row_number, desc, collect_list
from pyspark.sql.window import Window

In [78]:
df_emails_cut = df_emails.drop('role_type', 'email_type','address_sequence_id','residence_type','primary_email_type','email_domain_type','encripted_type','field_length_number','comments_desc','customer_email_status_type','email_app_type','register_user_id','last_change_user_id','last_change_hms_date','last_change_terminal_id','operational_load_date','customer_email_status_date','registry_entry_date')

In [84]:
df_emails_sorted = df_emails_cut.orderBy([df_emails_cut.customer_id, desc('last_change_date')])

In [85]:
df_emails_sorted.toPandas()

    customer_id                        email_desc last_change_date
0      00000000        ALVAROJOSE.DAGAND@BBVA.COM       2019-12-18
1      00000000         LIBRERIAURUGUAY@GMAIL.COM       2015-10-27
2      00027555           ALEFRID666@YAHOO.COM.AR       2012-07-08
3      00027568                 SCATIVA@GMAIL.COM       2016-03-15
4      00027595                      NO@GMAIL.COM       2018-08-07
..          ...                               ...              ...
495    27514366        NICOLAS.SZEBUN@HOTMAIL.COM       2021-01-25
496    27514374           TOMASBORBAS@HOTMAIL.COM       2021-01-25
497    27514379           FSANFRANCISCO@GMAIL.COM       2021-01-26
498    27514380           JUANCA.BIANCU@GMAIL.COM       2021-01-25
499    27514381  CLAUDIABETYBARRAZA7026@GMAIL.COM       2021-03-09

[500 rows x 3 columns]

In [86]:
window = Window.partitionBy(df_emails_sorted.customer_id).orderBy(desc(df_emails_sorted.last_change_date))

In [87]:
df_email = df_emails_sorted.withColumn('row_num', row_number().over(window))

In [88]:
df_email = df_email.filter(df_email.row_num <= 3)

In [89]:
df_email.toPandas()

    customer_id                        email_desc last_change_date  row_num
0      00000000        ALVAROJOSE.DAGAND@BBVA.COM       2019-12-18        1
1      00000000         LIBRERIAURUGUAY@GMAIL.COM       2015-10-27        2
2      00027555           ALEFRID666@YAHOO.COM.AR       2012-07-08        1
3      00027568                 SCATIVA@GMAIL.COM       2016-03-15        1
4      00027595                      NO@GMAIL.COM       2018-08-07        1
..          ...                               ...              ...      ...
495    27514366        NICOLAS.SZEBUN@HOTMAIL.COM       2021-01-25        1
496    27514374           TOMASBORBAS@HOTMAIL.COM       2021-01-25        1
497    27514379           FSANFRANCISCO@GMAIL.COM       2021-01-26        1
498    27514380           JUANCA.BIANCU@GMAIL.COM       2021-01-25        1
499    27514381  CLAUDIABETYBARRAZA7026@GMAIL.COM       2021-03-09        1

[500 rows x 4 columns]

In [90]:
df_pivot_email = df_email.groupBy('customer_id').agg(collect_list('email_desc').alias('last_3_changes_list'))

In [91]:
df_pivot_email = df_pivot_email.selectExpr('customer_id', 'last_3_changes_list[0] as Email_1', 'last_3_changes_list[1] as Email_2', 'last_3_changes_list[2] as Email_3')

In [92]:
df_pivot_email.toPandas()

,customer_id,Email_1,Email_2,Email_3
0,00000000,ALVAROJOSE.DAGAND@BBVA.COM,LIBRERIAURUGUAY@GMAIL.COM,None
1,00027555,ALEFRID666@YAHOO.COM.AR,None,None
2,00027568,SCATIVA@GMAIL.COM,None,None
3,00027595,NO@GMAIL.COM,None,None
4,00027609,lindocampo@yahoo.com,None,None
...,...,...,...,...
424,27514366,NICOLAS.SZEBUN@HOTMAIL.COM,None,None
425,27514374,TOMASBORBAS@HOTMAIL.COM,None,None
426,27514379,FSANFRANCISCO@GMAIL.COM,None,None
427,27514380,JUANCA.BIANCU@GMAIL.COM,None,None
428,27514381,CLAUDIABETYBARRAZA7026@GMAIL.COM,None,None

In [93]:
df_pivot_email = df_pivot_email.na.fill('---')

In [94]:
df_pivot_email.toPandas()

,customer_id,Email_1,Email_2,Email_3
0,00000000,ALVAROJOSE.DAGAND@BBVA.COM,LIBRERIAURUGUAY@GMAIL.COM,---
1,00027555,ALEFRID666@YAHOO.COM.AR,---,---
2,00027568,SCATIVA@GMAIL.COM,---,---
3,00027595,NO@GMAIL.COM,---,---
4,00027609,lindocampo@yahoo.com,---,---
...,...,...,...,...
424,27514366,NICOLAS.SZEBUN@HOTMAIL.COM,---,---
425,27514374,TOMASBORBAS@HOTMAIL.COM,---,---
426,27514379,FSANFRANCISCO@GMAIL.COM,---,---
427,27514380,JUANCA.BIANCU@GMAIL.COM,---,---
428,27514381,CLAUDIABETYBARRAZA7026@GMAIL.COM,---,---